<!-- Fast load Google fonts -->
<!-- [STEP #1] Preconnect with fonts’ origin -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<!-- [STEP #2] Async CSS Fetch -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;346;400;600&display=swap" media="print" onload="this.media='all'" />

<!-- [STEP #3] High-priority async CSS Fetch -->
<link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;346;400;600&display=swap" />

<!-- [STEP #4] Load CSS when JavaScript is disabled -->
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;346;400;600&display=swap" /></noscript>

<link rel="dns-prefetch" href="https://fonts.googleapis.com/">

{% if page.layout != 'notfound' and page.layout != 'home' %}
<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css" />
{% endif %}
{% if page.layout == 'blog' %}
<!-- <link rel="stylesheet" type="text/css" href="https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3" media="all"/> -->
<!-- <link rel="stylesheet" type="text/css" href="{{site.url}}{{site.baseurl}}/assets/css/main.build.css"/> -->
<link rel="stylesheet" type="text/css" href="{{site.url}}{{site.baseurl}}/assets/css/blog-navbar.built.css"/>
<link rel="stylesheet" type="text/css" href="{{site.url}}{{site.baseurl}}/assets/css/ac-localnav.built.css"/>
<link rel="stylesheet" type="text/css" href="{{site.url}}{{site.baseurl}}/assets/css/b-footer.built.css"/>
{% endif %}
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

{% if page.layout == 'home' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
{% endif %}