*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/
/*_algolia_api_key*

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
test/
.jekyll-metadata
.jekyll-cache/
