<div data-unit-id="ads-google" data-analytics-section-engagement="name:hero-ads-google">
  <div class="unit-wrapper">
    <div class="unit-copy-wrapper">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6633984128817867" crossorigin="anonymous"></script>
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6633984128817867" data-ad-slot="3163853490"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
  </div>
</div>