<section class="skills section" id="skills">
  <!-- <h2 class="section__title">Skills</h2>
  <span class="section__subtitle">Technologies</span> -->
  <div class="skills__container container grid">
    <div>
      <!--==================== SKILLS 1 ====================-->
      <div class="skill__content skills__open">
        <div class="skill__header">
          <i class="uil uil-brackets-curly skills__icon"></i>
          <h1 class="skill__title">Frontend developer</h1>
        </div>
        <div>
          <details>
            <summary>🔥<span class="skill__subtitle"> Building Beautiful websites..</span>
            </summary>
            <div class="skills__list grid">

              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills_name">HTML</h3>
                  <span class="skill__nummber">90%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__html"></span>
                </div>
              </div>

              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills_name">CSS</h3>
                  <span class="skill__nummber">80%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__css"></span>
                </div>
              </div>

              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills_name">Firebase</h3>
                  <span class="skill__nummber">60%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__Firebase"></span>
                </div>
              </div>

              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills_name">Node JS</h3>
                  <span class="skill__nummber">45%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__NodeJS"></span>
                </div>
              </div>

              <div class="skills__data">
                <div class="skills__titles">
                  <h3 class="skills_name">JavaScript</h3>
                  <span class="skill__nummber">40%</span>
                </div>
                <div class="skills__bar">
                  <span class="skills__percentage skills__JavaScript"></span>
                </div>
              </div>
            </div>
          </details>
        </div>
        <!--==================== SKILLS 2 ====================-->
        <div class="skill__content skills__close">
          <div class="skill__header">
            <i class="uil uil-swatchbook skills__icon"></i>
            <h1 class="skill__title">Designer</h1>
          </div>
          <div>
            <details>
              <summary>🔥<span class="skill__subtitle"> Designing Mockups & UIs..</span>
              </summary>
              <div class="skills__list grid">
                <div class="skills__data">

                  <div class="skills__titles">
                    <h3 class="skills_name">Figma</h3>
                    <span class="skill__nummber">70%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__Figma"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">Adobe XD</h3>
                    <span class="skill__nummber">50%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__AdobeXD"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">Canva</h3>
                    <span class="skill__nummber">30%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__Canva"></span>
                  </div>
                </div>
              </div>
            </details>
          </div>
        </div>
        <!--==================== SKILLS 3 ====================-->
        <div class="skill__content skills__close">
          <div class="skill__header">
            <i class="uil uil-server-network skills__icon"></i>
            <h1 class="skill__title">I.T automation</h1>
          </div>
          <div>
            <details>
              <summary>❤️<span class="skill__subtitle"> Building tools for IT Support & system
                  admins.</span>
              </summary>
              <div class="skills__list grid">
                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">PowerShell</h3>
                    <span class="skill__nummber">80%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__PowerShell"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">WPF</h3>
                    <span class="skill__nummber">70%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__WPF"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">XAML</h3>
                    <span class="skill__nummber">50%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__XAML"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">.NET Core</h3>
                    <span class="skill__nummber">30%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__dotNETCore"></span>
                  </div>
                </div>

                <div class="skills__data">
                  <div class="skills__titles">
                    <h3 class="skills_name">Python</h3>
                    <span class="skill__nummber">10%</span>
                  </div>
                  <div class="skills__bar">
                    <span class="skills__percentage skills__Python"></span>
                  </div>
                </div>
              </div>
            </details>
          </div>
        </div>
      </div>
    </div>
</section>