<!-- Mailchimp Newletters -->
<section id="letter">
    <br>
    <h2><strong>Subscribe to Stay in Touch</strong> 😊</h2>
    <p><span>Never miss out on your favorite posts and latest news from <strong>Alain</strong>.</span></p>
    <form class="flex validate" action="{{site.mailchimp_form_url}}" method="post" id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <input type="email" name="EMAIL" class="email" id="mce-EMAIL_footer" placeholder="Enter your email..."
            required />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div class="crash_bot_signups" aria-hidden="true">
            <input type="text" name="b_50bab1c85eae24ecfb0f68361_3a2dd721d0" tabindex="-1" value="">
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe_footer"
            class="btn btn-lg btn-success" />
    </form>
</section>