<footer class="footer">
  <style>
    {%- include scss/footer.css -%}
  </style>
  <div class="footer__bg">
    <div class="footer__container">
      <div class="col">
        <div class="footer_brand_c">
          <div><a class="footer__link" href="{{site.url}}{{site.baseurl}}">
              <img class="logo" src="{{site.url}}{{site.baseurl}}/assets/favicon/android-chrome-192x192.png"
                alt="BrandLogo"></a>
          </div>
          <div><a class="footer__link footerbrand"
              href="{{site.url}}{{site.baseurl}}"><span><span>alain</span><span>Q</span><span>tec</span></span></a>
          </div>
          <div class="foo_slogan">
            <a href="#" class="footer__link">Quick productive tech</a>
          </div>
        </div>
      </div>
      <div class="col">
        <h1>Quick Links</h1>
        <ul>
          <li><a class="footer__link" href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
          <li><a href="{{ site.url}}{{site.shopurl}}" class="footer__link">Shop</a></li>
          <li><a href="{{ site.url}}{{site.galleryurl}}" class="footer__link">Gallery</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/forum" class="footer__link">Forum</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/sitemap" class="footer__link">Site map</a></li>
          <li><a href="{{site.url}}{{site.baseurl}}/resources" class="footer__link">Resources</a></li>
        </ul>
        <!-- TODO: Use a script that selects Quick links based on the ones I set in Config.yml -->
        <!-- ie
              /% for i in site.urls %/
              <li>
                  <a href="// site.url \\//\\site.baseurl\\// i.url \\">// i.text \\</a>
              </li>
              /% endfor %/
              -->
      </div>
      <div class="col">
        <h1>Services</h1>
        <ul>

          <li><a href="#contact" class="footer__link">Web devlopment</a></li>
          <li><a href="#contact" class="footer__link">UI design</a></li>
          <li><a href="#contact" class="footer__link">Brand design</a></li>
          <li><a href="#contact" class="footer__link">IT tech Support</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Blog</h1>
        <ul>
          <li><a href="" class="footer__link">Webmail</a></li>
          <li><a href="" class="footer__link">WHOIS lookup</a></li>
          <li><a href="" class="footer__link">Web templates</a></li>
          <li><a href="" class="footer__link">Email templates</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Feedback</h1>
        <ul>
          <li><a href="" class="footer__link">Web chat</a></li>
          <li><a class="footer__feedbackm" href="#">Please send us your ideas, bug reports, suggestions! Any
              feedback
              would be appreciated.</a></li>
        </ul>
      </div>
      <div class="col social footer__socials">
        <h1>Social</h1>
        <ul>
          <li>
            <a href="https://web.facebook.com/alainQtec" class="footer__social" rel="noopener" target="_blank">
              <i class="uil uil-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/alainQtec" class="footer__social" rel="noopener" target="_blank">
              <i class="uil uil-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/alainQtec" class="footer__social" rel="noopener" target="_blank">
              <i class="uil uil-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://reddit.com/r/alainQtec" target="_blank" class="footer__social" rel="noopener"
              target="_blank">
              <i class="uil uil-reddit-alien-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCDVYFgx4pJekehwMUuXOyNA" class="footer__social" rel="noopener"
              target="_blank">
              <i class="uil uil-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://discord.com/{{discordurl}}" class="footer__social" rel="noopener" target="_blank">
              <i class="uil uil-discord"></i>
            </a>
          </li>
          <li>
            <a href="https://wa.me/250784703243" class="footer__social" rel="noopener" target="_blank">
              <i class="uil uil-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <br>
    <div class="footer-b-support" x-ms-format-detection="none"> To support this site, <span></span> you can buy your favorite merch
      in the <a href="{{ site.url}}{{site.shopurl}}">Store</a> or <a href="http://buymeacoffee.com/alainherve" class="button_bmc"><p class="bmc_btn_msg" style="margin: .5em 1em;">🍕 Buy me a pizza</p></a> .
      </div>
    <br>
    <hr class="foo_hr">
    <p class="footer__copy">{%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
      {%- assign _locale_copyright_dates = __return -%}
      &#169; {{ site.title }} {{ _locale_copyright_dates }}, All rights reserved - <a class="footer__legal"
        href="{{site.url}}{{site.termsurl}}" target="_blank" rel="noopener noreferrer">Terms of Service</a>
      - <a class="footer__legal" href="{{site.url}}{{site.privacyurl}}" target="_blank" rel="noopener noreferrer">Privacy Policy</a></p>
  </div>
  </div>
</footer>