<style>
  .footer {
    width: 95%;
    max-width: 1440px;
    position: relative !important;
    height: auto;
    min-height: 35vh;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2rem;
    border-radius: .5rem;
    margin: 0px auto !important;
    padding-bottom: 1em;
  }

  .footer__container {
    text-align: left;
    margin: 0 auto !important;
    padding: 0 1rem !important;
  }

  footer .logo {
    justify-self: center !important;
    align-self: center !important;
    background: inherit;
    width: 50px;
    height: 50px;
  }

  .footer__bg {
    background-color: var(--first-color-second);
    border-radius: .5rem;
    padding: 2rem 0 5.2rem !important;
  }

  .footer__legal {
    font-size: var(--small-font-size);
    color: rgba(228, 135, 91, 0.987) !important;
  }

  .footer__feedbackm {
    color: var(--bold-color) !important;
    font-size: var(--smaller-font-size) !important;
    padding-top: 4px;
    width: 90%;
  }

  .footer .col {
    width: 190px !important;
    height: auto !important;
    float: left !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    padding: 0px 20px 20px 20px !important;
  }

  .footer .col h1 {
    margin: 0 !important;
    padding: 0 !important;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px !important;
    padding: 20px 0px 5px 0px !important;
    color: rgba(0, 0, 0, 0.878);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }

  .footer .col ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer .col ul li {
    color: var(--bold-color);
    font-size: var(--font-medium);
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }

  .footer .col div a {
    color: var(--bold-color);
    font-size: var(--font-medium);
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
  }

  .social ul li {
    display: inline-block !important;
    padding-right: 5px !important;
  }

  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }

  .clearfix {
    clear: both;
  }

  .footerbrand {
    position: relative;
    display: inline-block !important;
    color: var(--text-color) !important;
    font-weight: var(--font-semi-bold);
    font-family: 'Quicksand', sans-serif !important;
    cursor: pointer !important;
  }

  .footerbrand span {
    transition: .54s linear;
  }

  .footerbrand:hover span:nth-child(1) {
    margin-right: 5px;
  }

  .footerbrand:hover span:nth-child(1):after {
    content: "✨";
    margin-right: 5px;
  }

  .footerbrand:hover span:nth-child(2) {
    margin-right: 5px;
    color: var(--bold-color);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  .footerbrand:hover span:nth-child(2):after {
    position: relative;
    content: "uick";
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  .footerbrand:hover span:nth-child(3) {
    margin-right: 5px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }

  .footerbrand:hover span:nth-child(3):after {
    position: relative;
    content: "h";
  }

  @media only screen and (min-width: 1280px) {
    .footer__container {
      width: 1200px;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 1139px) {
    .footer__container .social {
      width: 1000px;
      display: block;
    }

    .social h1 {
      margin: 0px;
    }
  }

  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }

    .footer .col h1 {
      font-size: 14px;
    }

    .footer .col ul li {
      font-size: 13px;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer .col {
      width: 50% !important;
    }

    .footer .col h1 {
      font-size: 14px !important;
    }

    .footer .col ul li {
      font-size: 13px !important;
    }
  }

  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100% !important;
    }
  }

  @media screen and (min-width: 568px) {
    .footer__container {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }

  @media screen and (min-width: 768px) {
    .footer__container {
      margin: 0 auto !important;
      padding: 0 1rem !important;
    }
  }

  .footer__link,
  .footer__social {
    color: #ffffffbd !important;
  }

  .footer__link {
    display: flex !important;
    flex-direction: column !important;
    row-gap: 1.5rem;
  }

  .footer__link:hover {
    color: var(--first-color-lighter);
  }

  .footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
  }

  .footer__social:hover {
    color: var(--first-color-lighter)
  }

  .footer__copy {
    animation: icon 0.2s 1;
    font-size: var(--small-font-size);
    text-align: center;
    color: rgba(240, 248, 255, 0.96);
    margin-top: var(--mb-3);
  }

  .back-to-top {
    /* position: fixed; */
    /* display: flex; */
    /* flex-direction: row; */
    left: 1%;
    bottom: auto;
  }

  @media (max-width: 576px) {
    footer .copy {
      flex-direction: column;
      text-align: center;
    }

    footer .copy a {
      display: block;
    }
  }

  header,
  footer,
  #scroll-animate-main {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;

    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
  }
</style>
<!-- footer class="footer py-4 js-page-footer"
  div class="main" -->
<footer class="footer">
  <div class="footer__bg">
    <div class="footer__container">
      <div class="col">
        <div
          style="justify-content: center !important; align-items: center !important; text-align: center !important; padding-top: 27px;">
          <div><a class="footer__link" href="https://alainqtec.com"><img class="logo"
                src="{{site.url}}{{site.baseurl}}/assets/images/logo/favicon.png" alt="BrandLogo"></a>
          </div>
          <div><a class="footer__link footerbrand"
              href="https://alainqtec.com"><span><span>alain</span><span>Q</span><span>tec</span></span></a>
          </div>
          <div style="font-size: var(--smaller-font-size);"><a href="" class="footer__link">Quick productive
              tech</a></div>
        </div>
      </div>
      <div class="col">
        <h1>Quick Links</h1>
        <ul>
          <li><a class="footer__link" href="{{ " /feed.xml" | prepend: site.baseurl }}">RSS</a></li>
          <li><a href="" class="footer__link">Shop</a></li>
          <li><a href="" class="footer__link">Gallery</a></li>
          <li><a href="" class="footer__link">Forum</a></li>
          <li><a href="" class="footer__link">Site map</a></li>
          <li><a href="" class="footer__link">Resources</a></li>
        </ul>
        <!-- TODO: Use a script that selects Quick links based on the ones I set in Config.yml -->
        <!-- ie
              /% for i in site.urls %/
              <li>
                  <a href="// site.url \\//\\site.baseurl\\// i.url \\">// i.text \\</a>
              </li>
              /% endfor %/
              -->
      </div>
      <div class="col">
        <h1>Services</h1>
        <ul>
          <li><a href="" class="footer__link">Web devlopment</a></li>
          <li><a href="" class="footer__link">UI design</a></li>
          <li><a href="" class="footer__link">Brand design</a></li>
          <li><a href="" class="footer__link">IT tech Support</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Blog</h1>
        <ul>
          <li><a href="" class="footer__link">Webmail</a></li>
          <li><a href="" class="footer__link">WHOIS lookup</a></li>
          <li><a href="" class="footer__link">Web templates</a></li>
          <li><a href="" class="footer__link">Email templates</a></li>
        </ul>
      </div>
      <div class="col">
        <h1>Feedback</h1>
        <ul>
          <li><a href="" class="footer__link">Web chat</a></li>
          <li><a class="footer__feedbackm" href="#">Please send us your ideas, bug reports, suggestions! Any
              feedback
              would be appreciated.</a></li>
        </ul>
      </div>
      <div class="col social footer__socials">
        <h1>Social</h1>
        <ul>
          <li>
            <a href="https://web.facebook.com/alainQtec" class="footer__social" target="_blank">
              <i class="uil uil-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/alainQtec" class="footer__social" target="_blank">
              <i class="uil uil-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/alainQtec" class="footer__social" target="_blank">
              <i class="uil uil-twitter-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://reddit.com/r/alainQtec" target="_blank" class="footer__social" target="_blank">
              <i class="uil uil-reddit-alien-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCDVYFgx4pJekehwMUuXOyNA" class="footer__social" target="_blank">
              <i class="uil uil-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://discord.com/{{discordurl}}" class="footer__social" target="_blank">
              <i class="uil uil-discord"></i>
            </a>
          </li>
          <li>
            <a href="https://wa.me/250784703243" class="footer__social" target="_blank">
              <i class="uil uil-whatsapp"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <br>
    <hr style="width: 90%; align-self: center !important; margin: 0 auto !important;">

    <p class="footer__copy">{%- include snippets/get-locale-string.html key='COPYRIGHT_DATES' -%}
      {%- assign _locale_copyright_dates = __return -%}
      &#169; {{ site.title }} {{ _locale_copyright_dates }}, All rights reserved - <a class="footer__legal"
        href="{{site.url}}{{site.termsurl}}" target="_blank" rel="noopener noreferrer">Terms of Service</a>
      - <a class="footer__legal" href="{{site.url}}{{site.privacyurl}}" target="_blank"
        rel="noopener noreferrer">Privacy Policy</a></p>
    <p><a class="back-to-top" href="#">Back &#x2191; to top</a></p>
  </div>
  </div>
</footer>