<header id="header" class="header">
  <!-- Text Animations go here { -->
  <div class="fixed1">"Quick productive tech"</div>
  <div class="fixed2">High <span>Quality</span> exclusive content about all things tech.</div>
  <!-- } -->
  <div class="parallax__layer parallax__layer--back">
    <div class="starfield">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--back2">
    <div class="starfield">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="parallax__layer parallax__layer--back3">
    <div class="starfield">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>