<head>
  <meta charset="utf-8" />
  <title>
    {% if {page.title %}{{ page.title }} | @{{site.title}}{% else %}{{ site.title }} | {{ site.subtitle }}{% endif %}
  </title>
  <meta http-equip="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% if page.summary %}
  <meta name="description"
    content="{{ page.summary | escape }}- {% if {page.title %}{{ page.title }}{% else %}{{ site.description }}{% endif %}">
  {% endif %}
  <meta name="keywords"
    content="{% if page.title %}{{ page.title }}, {{ site.title }}, {% for categ in page.categories %}{{ categ }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% else %}{{ site.title }}, {% for category in site.categories %}{% capture categories_slug %}{{ category | first }}{% endcapture %}{% for categ in categories_slug %}{{ categ }}{% endfor %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %},{{ page.keywords | escape }}" />

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
  <meta content="{{ site.share.fb_appid }}" property="fb:app_id" />
  <meta content="{{ site.title }}" property="og:site_name" />
  {% if page.noindex %}
  <meta name="robots" content="noindex" />
  {% endif %} {% if page.title %}
  <meta content="{{ page.title }}" property="og:title" />
  <meta content="article" property="og:type" />
  {% else %}
  <meta content="{{ site.title }}" property="og:title" />
  <meta content="website" property="og:type" />
  {% endif %} {% if page.summary %}
  <meta content="{{ page.summary }}" property="og:description" />
  {% else %}
  <meta content="{{ site.description }}" property="og:description" />
  {% endif %} {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
  {% endif %} {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
  <meta content="{{ site.url }}/about/" property="article:author" />
  {% endif %} {% if page.thumbnail %}
  <meta content="{{ site.url }}{{ page.thumbnail }}" property="og:image" />
  {% endif %} {% if page.categories %} {% for category in page.categories
  limit:1 %}
  <meta content="{{ category }}" property="article:section" />
  {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag" />
  {% endfor %} {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.share.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.share.twitter_username }}" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %} {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}" />
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %} {% if page.header-img %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.thumbnail }}" />
  {% endif %}
  <!--====================== CSS ======================-->
  <!-- <link href="{{site.url}}{{site.baseurl}}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="{{site.url}}{{site.baseurl}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.url}}{{site.baseurl}}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{site.url}}{{site.baseurl}}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css" />
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/lightgallery/dist/css/lightgallery.min.css" />
  <link rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="{{site.url}}{{site.baseurl}}/assets/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/bower_components/icono/dist/icono.min.css" />
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/d3a8c9b913/UntitledProject/style.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css'>

  <!-- Atomic-bulldog-grid -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.11.0/themes/prism-okaidia.min.css">
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/atomic-bulldog-grid.css">

  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.png" type="image/x-icon">
  <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.png" type="image/x-icon">
  <!-- <link href="{{site.url}}{{site.baseurl}}/assets/img/favicon.png" rel="icon">
  <link href="{{site.url}}{{site.baseurl}}/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <!-- <link rel="shortcut icon"
    href="https://db3pap005files.storage.live.com/y4mnJglXRa08TLUc7GvlC3UPab1HstdN_b2ddv2YgG3aFVFEulXjKfo9bK5EhbodY5678r5eICDtA2UxslVwcYeexEemhPUrvnMQzuZRpSnXZ1_36zddkQHVUbkyHI2v3zcUaa9YpfLie7SkBIUL05BLfKn24ejqmQeLyrqbXUXDT56kreT8yF7WYLx_9QUYNg8?width=391&height=382&cropmode=none"> -->

  <!-- google-analytics -->
  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}
  <!-- google-ads -->
  {% include ads.html %}
  <script>
    var base_url = '{{ site.url}}{{site.baseurl}}';
  </script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/blog.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/main.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/navscript.js"></script>
  <!--=================== BOX ICONS ===================-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!--==================== UNICONS ====================-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!-->
  <html class="no-js">
  <!--<![endif]-->
</head>