<head>
  <meta charset="utf-8">
  <style data-merge-styles="true"></style>

  <meta charset="utf-8">
  <link rel="canonical" href="https://www.alainQtec.com/">

  <link rel="alternate" href="https://alainQtec.com/" hreflang="en-US">
  <link rel="alternate" href="https://alainQtec.com/ae-ar/" hreflang="ar-AE">
  <link rel="alternate" href="https://alainQtec.com/ae/" hreflang="en-AE">
  <link rel="alternate" href="https://alainQtec.com/am/" hreflang="en-AM">
  <link rel="alternate" href="https://alainQtec.com/at/" hreflang="de-AT">
  <link rel="alternate" href="https://alainQtec.com/au/" hreflang="en-AU">
  <link rel="alternate" href="https://alainQtec.com/az/" hreflang="en-AZ">
  <link rel="alternate" href="https://alainQtec.com/befr/" hreflang="fr-BE">
  <link rel="alternate" href="https://alainQtec.com/benl/" hreflang="nl-BE">
  <link rel="alternate" href="https://alainQtec.com/bg/" hreflang="bg-BG">
  <link rel="alternate" href="https://alainQtec.com/bh-ar/" hreflang="ar-BH">
  <link rel="alternate" href="https://alainQtec.com/bh/" hreflang="en-BH">
  <link rel="alternate" href="https://alainQtec.com/br/" hreflang="pt-BR">
  <link rel="alternate" href="https://alainQtec.com/bw/" hreflang="en-BW">
  <link rel="alternate" href="https://alainQtec.com/by/" hreflang="en-BY">
  <link rel="alternate" href="https://alainQtec.com/ca/" hreflang="en-CA">
  <link rel="alternate" href="https://alainQtec.com/ca/fr/" hreflang="fr-CA">
  <link rel="alternate" href="https://alainQtec.com/cf/" hreflang="fr-CF">
  <link rel="alternate" href="https://alainQtec.com/chde/" hreflang="de-CH">
  <link rel="alternate" href="https://alainQtec.com/chfr/" hreflang="fr-CH">
  <link rel="alternate" href="https://alainQtec.com/ci/" hreflang="fr-CI">
  <link rel="alternate" href="https://alainQtec.com/cl/" hreflang="es-CL">
  <link rel="alternate" href="https://alainQtec.com/cm/" hreflang="fr-CM">
  <link rel="alternate" href="https://alainQtec.com/co/" hreflang="es-CO">
  <link rel="alternate" href="https://alainQtec.com/cz/" hreflang="cs-CZ">
  <link rel="alternate" href="https://alainQtec.com/de/" hreflang="de-DE">
  <link rel="alternate" href="https://alainQtec.com/dk/" hreflang="da-DK">
  <link rel="alternate" href="https://alainQtec.com/ee/" hreflang="et-EE">
  <link rel="alternate" href="https://alainQtec.com/eg-ar/" hreflang="ar-EG">
  <link rel="alternate" href="https://alainQtec.com/eg/" hreflang="en-EG">
  <link rel="alternate" href="https://alainQtec.com/es/" hreflang="es-ES">
  <link rel="alternate" href="https://alainQtec.com/fi/" hreflang="fi-FI">
  <link rel="alternate" href="https://alainQtec.com/fr/" hreflang="fr-FR">
  <link rel="alternate" href="https://alainQtec.com/ge/" hreflang="en-GE">
  <link rel="alternate" href="https://alainQtec.com/gn/" hreflang="fr-GN">
  <link rel="alternate" href="https://alainQtec.com/gq/" hreflang="fr-GQ">
  <link rel="alternate" href="https://alainQtec.com/gr/" hreflang="el-GR">
  <link rel="alternate" href="https://alainQtec.com/gw/" hreflang="en-GW">
  <link rel="alternate" href="https://alainQtec.com/hk/" hreflang="zh-HK">
  <link rel="alternate" href="https://alainQtec.com/hk/en/" hreflang="en-HK">
  <link rel="alternate" href="https://alainQtec.com/hr/" hreflang="hr-HR">
  <link rel="alternate" href="https://alainQtec.com/hu/" hreflang="hu-HU">
  <link rel="alternate" href="https://alainQtec.com/id/" hreflang="en-ID">
  <link rel="alternate" href="https://alainQtec.com/ie/" hreflang="en-IE">
  <link rel="alternate" href="https://alainQtec.com/il/" hreflang="en-IL">
  <link rel="alternate" href="https://alainQtec.com/in/" hreflang="en-IN">
  <link rel="alternate" href="https://alainQtec.com/it/" hreflang="it-IT">
  <link rel="alternate" href="https://alainQtec.com/jo-ar/" hreflang="ar-JO">
  <link rel="alternate" href="https://alainQtec.com/jo/" hreflang="en-JO">
  <link rel="alternate" href="https://alainQtec.com/jp/" hreflang="ja-JP">
  <link rel="alternate" href="https://alainQtec.com/ke/" hreflang="en-KE">
  <link rel="alternate" href="https://alainQtec.com/kg/" hreflang="en-KG">
  <link rel="alternate" href="https://alainQtec.com/kr/" hreflang="ko-KR">
  <link rel="alternate" href="https://alainQtec.com/kw-ar/" hreflang="ar-KW">
  <link rel="alternate" href="https://alainQtec.com/kw/" hreflang="en-KW">
  <link rel="alternate" href="https://alainQtec.com/kz/" hreflang="en-KZ">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-HN">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-AR">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-SV">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-PR">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-DO">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-EC">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-GT">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-PE">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-BO">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-NI">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-VE">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-PA">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-CR">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-UY">
  <link rel="alternate" href="https://alainQtec.com/la/" hreflang="es-PY">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-AG">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-BS">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-TC">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-TT">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-SR">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-BM">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-BB">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-BZ">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-GD">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-KY">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-LC">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-MS">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-KN">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-AI">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-VC">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-GY">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-VG">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-PR">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-DM">
  <link rel="alternate" href="https://alainQtec.com/lae/" hreflang="en-JM">
  <link rel="alternate" href="https://alainQtec.com/li/" hreflang="de-LI">
  <link rel="alternate" href="https://alainQtec.com/lt/" hreflang="lt-LT">
  <link rel="alternate" href="https://alainQtec.com/lu/" hreflang="fr-LU">
  <link rel="alternate" href="https://alainQtec.com/lv/" hreflang="lv-LV">
  <link rel="alternate" href="https://alainQtec.com/ma/" hreflang="fr-MA">
  <link rel="alternate" href="https://alainQtec.com/md/" hreflang="en-MD">
  <link rel="alternate" href="https://alainQtec.com/me/" hreflang="en-ME">
  <link rel="alternate" href="https://alainQtec.com/mg/" hreflang="en-MG">
  <link rel="alternate" href="https://alainQtec.com/mk/" hreflang="en-MK">
  <link rel="alternate" href="https://alainQtec.com/ml/" hreflang="fr-ML">
  <link rel="alternate" href="https://alainQtec.com/mo/" hreflang="zh-MO">
  <link rel="alternate" href="https://alainQtec.com/mt/" hreflang="en-MT">
  <link rel="alternate" href="https://alainQtec.com/mu/" hreflang="fr-MU">
  <link rel="alternate" href="https://alainQtec.com/mx/" hreflang="es-MX">
  <link rel="alternate" href="https://alainQtec.com/my/" hreflang="en-MY">
  <link rel="alternate" href="https://alainQtec.com/mz/" hreflang="en-MZ">
  <link rel="alternate" href="https://alainQtec.com/ne/" hreflang="fr-NE">
  <link rel="alternate" href="https://alainQtec.com/ng/" hreflang="en-NG">
  <link rel="alternate" href="https://alainQtec.com/nl/" hreflang="nl-NL">
  <link rel="alternate" href="https://alainQtec.com/no/" hreflang="no-NO">
  <link rel="alternate" href="https://alainQtec.com/nz/" hreflang="en-NZ">
  <link rel="alternate" href="https://alainQtec.com/om-ar/" hreflang="ar-OM">
  <link rel="alternate" href="https://alainQtec.com/om/" hreflang="en-OM">
  <link rel="alternate" href="https://alainQtec.com/ph/" hreflang="en-PH">
  <link rel="alternate" href="https://alainQtec.com/pl/" hreflang="pl-PL">
  <link rel="alternate" href="https://alainQtec.com/pt/" hreflang="pt-PT">
  <link rel="alternate" href="https://alainQtec.com/qa-ar/" hreflang="ar-QA">
  <link rel="alternate" href="https://alainQtec.com/qa/" hreflang="en-QA">
  <link rel="alternate" href="https://alainQtec.com/ro/" hreflang="ro-RO">
  <link rel="alternate" href="https://alainQtec.com/ru/" hreflang="ru-RU">
  <link rel="alternate" href="https://alainQtec.com/sa-ar/" hreflang="ar-SA">
  <link rel="alternate" href="https://alainQtec.com/sa/" hreflang="en-SA">
  <link rel="alternate" href="https://alainQtec.com/se/" hreflang="sv-SE">
  <link rel="alternate" href="https://alainQtec.com/sg/" hreflang="en-SG">
  <link rel="alternate" href="https://alainQtec.com/si/" hreflang="en-SI">
  <link rel="alternate" href="https://alainQtec.com/sk/" hreflang="sk-SK">
  <link rel="alternate" href="https://alainQtec.com/sn/" hreflang="fr-SN">
  <link rel="alternate" href="https://alainQtec.com/th/" hreflang="th-TH">
  <link rel="alternate" href="https://alainQtec.com/tj/" hreflang="en-TJ">
  <link rel="alternate" href="https://alainQtec.com/tm/" hreflang="en-TM">
  <link rel="alternate" href="https://alainQtec.com/tn/" hreflang="fr-TN">
  <link rel="alternate" href="https://alainQtec.com/tr/" hreflang="tr-TR">
  <link rel="alternate" href="https://alainQtec.com/tw/" hreflang="zh-TW">
  <link rel="alternate" href="https://alainQtec.com/ua/" hreflang="uk-UA">
  <link rel="alternate" href="https://alainQtec.com/ug/" hreflang="en-UG">
  <link rel="alternate" href="https://alainQtec.com/uk/" hreflang="en-GB">
  <link rel="alternate" href="https://alainQtec.com/uz/" hreflang="en-UZ">
  <link rel="alternate" href="https://alainQtec.com/vn/" hreflang="en-VN">
  <link rel="alternate" href="https://alainQtec.com/za/" hreflang="en-ZA">
  <link rel="alternate" href="https://alainQtec.com.cn/" hreflang="zh-CN">
  <title>
    {% if page.title %}{{ page.title }} | @{{site.title}}{% else %}{{ site.title }} | {{ site.subtitle }}{% endif %}
  </title>
  <meta http-equip="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description"
    content="{% if page.description %}{{page.description}}{% else %}{{ page.summary | escape }}{% endif %}">
  <meta name="keywords"
    content="{% if page.title %}{{ page.title }}, {{ site.title }}, {% for categ in page.categories %}{{ categ }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% else %}{{ site.title }}, {% for category in site.categories %}{% capture categories_slug %}{{ category | first }}{% endcapture %}{% for categ in categories_slug %}{{ categ }}{% endfor %}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %},{{ page.keywords | escape }}" />
  <meta content="{{ site.share.fb_appid }}" property="fb:app_id" />
  <meta content="{{ site.title }}" property="og:site_name" />
  <meta property="og:locale" content="en_US">
  <meta http-equiv="Cache-control" content="public">
  {% if page.noindex %}
  <meta name="robots" content="noindex" />
  {% endif %} {% if page.title %}
  <meta content="{{ page.title }}" property="og:title" />
  <meta content="article" property="og:type" />
  {% else %}
  <meta content="{{ site.title }}" property="og:title" />
  <meta content="website" property="og:type" />
  {% endif %} {% if page.summary %}
  <meta content="{{ page.summary }}" property="og:description" />
  {% else %}
  <meta content="{{ site.description }}" property="og:description" />
  {% endif %} {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url" />
  {% endif %}
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time" />
  {% endif %}
  <meta content="https://twitter.com/alainQtec" property="article:author" />
  <meta property="article:publisher" content="https://twitter.com/alainQtec" />
  {% if page.thumbnail %}
  <meta content="{{ site.url }}{{ page.thumbnail }}" property="og:image" />
  {% endif %} {% if page.categories %} {% for category in page.categories
  limit:1 %}
  <meta content="{{ category }}" property="article:section" />
  {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag" />
  {% endfor %} {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
  {% endif %}

  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %} {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}" />
  {% else %}
  <meta name="twitter:description"
    content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  {% endif %} {% if page.header-img %}
  <meta name="twitter:image:src" content="{{ site.url }}{{ page.thumbnail }}" />
  {% endif %}
  

  <!-- <link href="{{site.url}}{{site.baseurl}}/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="{{site.url}}{{site.baseurl}}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.url}}{{site.baseurl}}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{site.url}}{{site.baseurl}}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/atomic-bulldog-grid.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.css" /> -->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'> -->
  <!-- <link rel="stylesheet" href="https://i.icomoon.io/public/temp/d3a8c9b913/UntitledProject/style.css"> -->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> -->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css'> -->

  {%- include head/favicon.html -%}
  {%- include head/inline-scss.html -%}
  {%- include head/stylesheets.html -%}
  
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

  <!-- google-analytics -->
  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  <!-- google-ads -->
  {% include ads.html %}

  <script>
    var base_url = '{{ site.url}}{{site.baseurl}}';
  </script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/@mojs/core"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/blog.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/main.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/navscript.js"></script>

  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    crossorigin="anonymous"></script>
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/jquery/dist/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/jquery.easing/jquery.easing.min.js"></script>
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
  <script
    src="{{site.url}}{{site.baseurl}}/assets/bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/bower_components/typewrite/dist/typewrite.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <!-- Scroll JS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.3.1/smooth-scrollbar.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.3.1/plugins/overscroll.js'></script>
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/js/scroll.js"></script> -->
  <!-- <script src="/assets/js/main.min.js?v=1"></script> -->

  {% if page.layout == 'home' %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.scrollaway.js"></script>
  <!-- Innfinite Scroll js -->
  <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  <!-- or -->
  <!-- <script src="/path/to/infinite-scroll.pkgd.min.js"></script> -->
  <!-- <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"></script> -->
  {% endif %}

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-115907213-1']);

    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- for Mathjax support -->
  {% if page.usemathjax %}
  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "AMS" } }
      });
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <!-- Github Buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- "Build by Alain" widget  -->
  <!-- <script>
    (function (d, h, m) {
      var js, fjs = d.getElementsByTagName(h)[0];
      if (d.getElementById(m)) { return; }
      js = d.createElement(h); js.id = m;
      js.onload = function () {
        window.makerWidgetComInit({
          position: "left",
          widget: "t96v84nvcjom1hvr-hgfqrw7o0s1vcqm6-wkkhuity43yndwor"
        })
      };
      js.src = "https://makerwidget.com/js/embed.js";
      fjs.parentNode.insertBefore(js, fjs)
    }(document, "script", "dhm"))
  </script> -->

  <!-- https://www.buymeacoffee.com/alainherve -->
  {% if page.layout == 'home' %}<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="alainherve" data-description="Support Alain on Buy me a coffee!" data-message="" data-color="hsla(251, 82%, 72%, 0.522)" data-position="right" data-x_margin="10" data-y_margin="10"></script>{% endif %}
  {% if page.layout != 'home' and page.layout != 'notfound' %}<script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="alainherve" data-description="Support Alain on Buy me a coffee!" data-message="" data-color="hsla(251, 82%, 72%, 0.522)" data-position="right" data-x_margin="57" data-y_margin="16"></script>{% endif %}

  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!-->
  <html class="no-js">
  <!--<![endif]-->
</head>