<!-- Mobile menu -->
<div class="mobile__nvmenu">
  <div class="mmcontainer">
    <div class="burger-container">
      <div id="burger">
        <div class="bar topBar"></div>
        <div class="bar btmBar"></div>
      </div>
    </div>
    <ul class="menu">
      <li class="menu-item"><a class="menu-link uil uil-estate" href="{{ site.url}}{{site.blogurl}}"> Home</a>
      </li>
      <li class="menu-item"><a class="menu-link uil uil-info-circle" href="{{ site.url}}{{site.abouturl}}">
          About</a></li>
      <li class="menu-item"><a class="menu-link uil uil-parcel" href="#"> Categories</a></li>
      <li class="menu-item"><a class="menu-link uil uil-images" href="{{ site.url}}{{site.galleryurl}}">
          Gallery</a></li>
      <li class="menu-item"><a class="menu-link uil uil-shopping-bag" href="{{ site.url}}{{site.shopurl}}">
          Shop</a></li>
      <li class="menu-item"><a class="menu-link uil uil-ellipsis-h" href="#"> More</a></li>
      <li class="menu-item"><a class="menu-link uil uil-user" href="#"> Account</a></li>
    </ul>
  </div>
  <!-- <div class="mobile_top_content_slider">
          TODO: Paralax content and intro animations goes here. but I'lls have to change the .mobile_top_content_slider height from 0px to something else
        </div> -->
</div>
<script>
  (function () {
    var burger = document.querySelector('.burger-container'),
      header = document.querySelector('.mmcontainer');

    burger.onclick = function () {
      header.classList.toggle('menu-opened');
    }
  }());
</script>