<h1 class="visuallyhidden">alainQtec</h1>
<aside id="b-nav-segmentbar" class="b-nav-segmentbar" lang="en-US" dir="ltr">
</aside>
<input type="checkbox" id="b-nav-menustate" class="b-nav-menustate">
<nav id="blog-navbar" class="navbar sticky-top" role="navigation" aria-label="Global" data-hires="false">
  <div class="b-nav-content">
    <ul class="b-nav-header">
      <li class="b-nav-item b-nav-menuicon">
        <a href="#b-nav-menustate" role="button" class="b-nav-anchor b-nav-anchor-open" id="b-nav-anchor-open">
          <span class="b-nav-anchor-label">Nav Open</span>
        </a>
        <a href="#" role="button" class="b-nav-anchor b-nav-anchor-close" id="b-nav-anchor-close">
          <span class="b-nav-anchor-label">Nav Close</span>
        </a>
        <label class="b-nav-menuicon-label" for="b-nav-menustate" aria-hidden="true">
          <span class="b-nav-menuicon-bread b-nav-menuicon-bread-top">
            <span class="b-nav-menuicon-bread-crust b-nav-menuicon-bread-crust-top"></span>
          </span>
          <span class="b-nav-menuicon-bread b-nav-menuicon-bread-bottom">
            <span class="b-nav-menuicon-bread-crust b-nav-menuicon-bread-crust-bottom"></span>
          </span>
        </label>
      </li>
      <li class="b-nav-item b-nav-brand">
        <a class="b-nav-link b-nav-brand-link" href="{{site.url}}{{site.baseurl}}"
          data-analytics-title="@alainQtec blog" id="b-nav-firstfocus-small">
          <span class="b-nav-link-text-main">alainQtec</span>
        </a>
      </li>
      <li class="b-nav-item b-nav-bag b-nav-bag-small" id="b-nav-bag-small">
        <div class="b-nav-bag-wrapper">
          <a class="b-nav-link b-nav-link-bag" href="{{ site.url}}{{site.shopurl}}" data-analytics-title="bag"
            data-analytics-click="bag" aria-label="Shopping Bag" data-string-badge="Shopping Bag with item count :"
            role="button" aria-haspopup="true" aria-expanded="false" aria-controls="b-nav-bagview-content"
            tabindex="0">
            <span class="b-nav-link-text-main">Shopping Bag</span>
          </a>
          <span class="b-nav-bag-badge" aria-hidden="true" data-analytics-title="bag" data-analytics-click="bag">
            <span class="b-nav-bag-badge-separator"></span>
            <span class="b-nav-bag-badge-number"></span>
            <span class="b-nav-bag-badge-unit">+</span>
          </span>
        </div>
        <span class="b-nav-bagview-caret b-nav-bagview-caret-large"></span>
      </li>
    </ul>
    <div class="b-nav-search-placeholder-container" role="search">
      <div class="b-nav-search b-nav-search-small">
        <a id="b-nav-link-search-small" class="b-nav-link" href="/us/search" data-analytics-title="search"
          data-analytics-intrapage-link="" aria-label="Search alainQtec.com" role="button" aria-haspopup="true">
          <div class="b-nav-search-placeholder-bar">
            <div class="b-nav-search-placeholder-input">
              <div class="b-nav-search-placeholder-input-text" aria-hidden="true">
                <div class="b-nav-link-search b-nav-search-placeholder-input-icon"></div>
                <span class="b-nav-search-placeholder">Search alainQtec.com</span>
              </div>
            </div>
            <div
              class="b-nav-searchview-close b-nav-searchview-close-small b-nav-search-placeholder-searchview-close">
              <span class="b-nav-searchview-close-cancel" aria-hidden="true">Cancel</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <ul class="b-nav-list">
      <li class="b-nav-item b-nav-brand">
        <a class="b-nav-link b-nav-brand-link" href="{{site.url}}{{site.baseurl}}"
          data-analytics-title="alainQtec home" id="b-nav-firstfocus">
          <span class="b-nav-link-text-main">alainQtec</span>
        </a>
      </li>
      <li class="b-nav-item menu-item">
        <a class="b-nav-link b-nav-link-home uil uil-estate" href="{{ site.url}}{{site.blogurl}}"
          data-analytics-title="home">
          <span class="b-nav-link-text">Home</span>
        </a>
      </li>
      <li class="b-nav-item menu-item">
        <a class="b-nav-link b-nav-link-about uil uil-info-circle" href="{{ site.url}}{{site.abouturl}}"
          data-analytics-title="about">
          <span class="b-nav-link-text">About</span>
        </a>
      </li>
      <li class="b-nav-item menu-item">
        <a class="b-nav-link b-nav-link-Categories uil uil-parcel"
          href="{{site.url}}{{site.baseurl}}/blog/categories/" data-analytics-title="categories">
          <span class="b-nav-link-text">Categories</span>
        </a>
      </li>
      <li class="b-nav-item menu-item">
        <a class="b-nav-link b-nav-link-gallery uil uil-images" href="{{ site.url}}{{site.galleryurl}}"
          data-analytics-title="gallery">
          <span class="b-nav-link-text">Gallery</span>
        </a>
      </li>
      <li class="b-nav-item menu-item">
        <a class="b-nav-link b-nav-link-more uil uil-ellipsis-h" href="#" data-analytics-title="watch">
          <span class="b-nav-link-text">More</span>
        </a>
      </li>
      <li class="b-nav-item menu-item">
        <a class="b-nav-link b-nav-link-account uil uil-user" href="{{site.url}}{{site.baseurl}}/forum/profile/"
          data-analytics-title="account">
          <span class="b-nav-link-text">Account</span>
        </a>
      </li>
      <li class="b-nav-item menu-item b-nav-search" role="search">
        <a id="b-nav-link-search" class="b-nav-link b-nav-link-search" href="/us/search" data-analytics-title="search"
          data-analytics-intrapage-link="" aria-label="Search alainQtec.com" role="button" aria-haspopup="true"></a>
      </li>
      <li class="b-nav-item b-nav-bag" id="b-nav-bag">
        <div class="b-nav-bag-wrapper">
          <a class="b-nav-link b-nav-link-bag" href="{{ site.url}}{{site.shopurl}}/bag" data-analytics-title="bag"
            data-analytics-click="bag" aria-label="Shopping Bag"
            data-string-badge="Shopping Bag with item count : BAGITEMCOUNT" role="button" aria-haspopup="true"
            aria-expanded="false" aria-controls="b-nav-bagview-content">
            <span class="b-nav-link-text-main">Shopping Bag</span>
          </a>
          <span class="b-nav-bag-badge" aria-hidden="true" data-analytics-title="bag" data-analytics-click="bag">
            <span class="b-nav-bag-badge-separator"></span>
            <span class="b-nav-bag-badge-number"></span>
            <span class="b-nav-bag-badge-unit">+</span>
          </span>
        </div>
        <span class="b-nav-bagview-caret b-nav-bagview-caret-large"></span>
      </li>
    </ul>
    <aside id="b-nav-searchview" class="b-nav-searchview" role="search" data-analytics-region="search">
      <div class="b-nav-searchview-content">
        <div class="b-nav-searchview-bar">
          <div class="b-nav-searchview-bar-wrapper">
            <form id="b-nav-searchform" class="b-nav-searchform" action="/us/search" method="get">
              <div class="b-nav-searchform-wrapper">
                <input id="b-nav-searchform-input" class="b-nav-searchform-input" type="text"
                  aria-label="Search alainQtec.com" placeholder="Search alainQtec.com" autocorrect="off"
                  autocapitalize="off" autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list"
                  aria-expanded="true" aria-owns="quicklinks suggestions">
                <input id="b-nav-searchform-src" type="hidden" name="src" value="globalnav">
                <button id="b-nav-searchform-submit" class="b-nav-searchform-submit" type="submit" disabled=""
                  aria-label="Submit Search"> </button>
                <button id="b-nav-searchform-reset" class="b-nav-searchform-reset" type="reset" disabled=""
                  aria-label="Clear Search">
                  <span class="b-nav-searchform-reset-background"></span>
                </button>
              </div>
            </form>
            <button id="b-nav-searchview-close-small" class="b-nav-searchview-close b-nav-searchview-close-small"
              aria-label="Cancel Search">
              <span class="b-nav-searchview-close-cancel" aria-hidden="true">
                Cancel
              </span>
            </button>
          </div>
        </div>
        <aside id="b-nav-searchresults" class="b-nav-searchresults" data-string-quicklinks="Quick Links"
          data-string-suggestions="Suggested Searches" data-string-noresults="">
          <section class="b-nav-searchresults-section b-nav-searchresults-section-defaultlinks"
            data-analytics-region="defaultlinks search">
            <div class="b-nav-searchresults-section-wrapper">
              <h3 class="b-nav-searchresults-header b-nav-searchresults-animated">Quick Links</h3>
              <ul class="b-nav-searchresults-list" id="defaultlinks" role="listbox">
                <li class="b-nav-searchresults-item b-nav-searchresults-animated" role="presentation">
                  <a href="#/temporary_closures" role="option"
                    class="b-nav-searchresults-link b-nav-searchresults-link-defaultlinks" data-query="no keyword"
                    data-section="defaultlinks" data-items="5" data-index="0"
                    data-label="Visiting an alainQtec Store FAQ"
                    data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50">Read
                    latest posts</a>
                </li>
                <li class="b-nav-searchresults-item b-nav-searchresults-animated" role="presentation">
                  <a href="#" role="option" class="b-nav-searchresults-link b-nav-searchresults-link-defaultlinks"
                    data-query="no keyword" data-section="defaultlinks" data-items="5" data-index="1"
                    data-label="Shop alainQtec Store Online"
                    data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50">Shop</a>
                </li>
                <li class="b-nav-searchresults-item b-nav-searchresults-animated" role="presentation">
                  <a href="#" role="option" class="b-nav-searchresults-link b-nav-searchresults-link-defaultlinks"
                    data-query="no keyword" data-section="defaultlinks" data-items="5" data-index="2"
                    data-label="Accessories"
                    data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50">Discover
                    new hot topics</a>
                </li>
                <li class="b-nav-searchresults-item b-nav-searchresults-animated" role="presentation">
                  <a href="#" role="option" class="b-nav-searchresults-link b-nav-searchresults-link-defaultlinks"
                    data-query="no keyword" data-section="defaultlinks" data-items="5" data-index="3"
                    data-label="AirPods"
                    data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50">Need
                    Help? Reach @alainQtec</a>
                </li>
                <li class="b-nav-searchresults-item b-nav-searchresults-animated" role="presentation">
                  <a href="#" role="option" class="b-nav-searchresults-link b-nav-searchresults-link-defaultlinks"
                    data-query="no keyword" data-section="defaultlinks" data-items="5" data-index="4"
                    data-label="AirTag"
                    data-analytics-click="eVar23: {data-query} | {data-section} | {data-items} | {data-label} | {data-index}, events:event50">Leave
                    Feedback.</a>
                </li>
              </ul>
              <span role="status" class="b-nav-searchresults-count" aria-live="polite">5 Quick Links</span>
            </div>
          </section>

        </aside>
      </div>
      <button id="b-nav-searchview-close" class="b-nav-searchview-close" aria-label="Cancel Search">
        <span class="b-nav-searchview-close-wrapper">
          <span class="b-nav-searchview-close-left"></span>
          <span class="b-nav-searchview-close-right"></span>
        </span>
      </button>
    </aside>
    <aside class="b-nav-bagview" data-analytics-region="bag">
      <div class="b-nav-bagview-scrim">
        <span class="b-nav-bagview-caret b-nav-bagview-caret-small"></span>
      </div>
      <div class="b-nav-bagview-content" id="b-nav-bagview-content">
      </div>
    </aside>
  </div>
</nav>
<div class="b-nav-blur"></div>
<div id="b-nav-curtain" class="b-nav-curtain"></div>
<div id="b-nav-placeholder" class="ac-nav-placeholder"></div>
<div id="b-nav-viewport-emitter" data-viewport-emitter-dispatch=""
  data-viewport-emitter-state="{&quot;viewport&quot;:&quot;small&quot;,&quot;orientation&quot;:&quot;portrait&quot;,&quot;retina&quot;:false}">
</div>

<div class="search-form-container">
  <form role="form" class="search-form">
    <fieldset class="search-form__fieldset">
      <div class="sr_card">
        <div id="search-container" class="form-group col-lg-8 offset-md-2">
          <input class="search-form__field form-control input-lg" type="input" id="search-input"
            placeholder="Type to Search..." autofocus>
          <input class="search-form__submit" type="submit" value="search">
        </div>
      </div>
    </fieldset>
  </form>
  <div id="filter-records"></div>

  <div class="sr_results-container" id="results-container">
    <script src="{{site.url}}{{site.baseurl}}/assets/js/search.js" type="text/javascript"></script>
  </div>
  <div class="close-search-button search-form-container__close">
    <i class="fa fa-times icon"></i>
  </div>
</div>
<!-- Auto hide navbar on scroll down -->
<!-- <script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-60px";
    }
    prevScrollpos = currentScrollPos;
  }
</script> -->