.band {
  width: 95%;
  max-width: 1240px;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 18px
}

@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 40em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.blog_card,
.firststblog_card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.3s ease-in-out;
  font-family: 'Heebo';
  border-radius: .7em;
  margin: 0px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border: 5px solid #ccc;
  z-index: 2000;
  animation: square 10s linear;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: calc(-1s * var(--i))
}

// .blog_card {
//   padding-bottom: 60%;
//   background-size: cover;
//   background-position: center center
// }

.it2-card::before {
  background-color: var(--body-color);
}

.firststblog_card,
figure.blog_card.it2-card {
  float: left;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  height: 305px !important;
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255) // min-height: 305px;
    // background: var(--bg-img);
    // -o-object-fit: fill;
    // object-fit: fill;
    // object-position: center;
}

.firststblog_card>span a,
figure.blog_card.it2-card>span a {
  -webkit-filter: brightness(100%) !important;
  -moz-filter: brightness(100%) !important;
  -o-filter: brightness(100%) !important;
  -ms-filter: brightness(100%) !important;
  filter: brightness(100%) !important
}

figure.blog_card.it2-card:focus,
figure.blog_card.it2-card:hover {
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.803)), var(--bg-img) !important;
  background-position: center;
  object-position: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out !important;
  background-blend-mode: darken !important;
  background-repeat: no-repeat
}

.it2-card .data .content,
.blog_card .data .content,
.blog_card .data .content span>a {
  box-sizing: border-box;
  color: #fff
}

.blog_card:hover .data span,
.blog_card:focus .data,
.blog_card:hover .data span {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-filter: brightness(100%) !important;
  -moz-filter: brightness(100%) !important;
  -o-filter: brightness(100%) !important;
  -ms-filter: brightness(100%) !important;
  filter: brightness(100%) !important
}

.blog_card:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1
}

.blog_card:focus .date,
.blog_card:hover .date {
  font: size 6px;
  transform: translateX(90%);
  transition: all 0.3s
}

@media (max-width: 560px) {

  .blog_card:focus .date,
  .blog_card:hover .date {
    visibility: hidden !important;
    display: none !important;
    font: size 9px;
    transition: all 0.3s !important
  }
}

.blog_card .menu-content {
  float: right
}

.blog_card .menu-content li {
  margin: 0 5px;
  position: relative
}

.blog_card .menu-content span {
  transition: all 0.3s;
  opacity: 0
}


.blog_card .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700
}

.blog_card .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s
}

.blog_card .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1
}

.blog_card:hover,
.blog_card:focus,
.firststblog_card:focus,
.firststblog_card:hover {
  top: -2px;
  color: var(--color);
  transform: rotate(0);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.597)
}

.blog_card:hover:before,
.blog_card:hover:after {
  background-blend-mode: darken;
  transform: scale(1)
}

.blog_card:before,
.blog_card:after {
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  z-index: -5;
  transition: all 0.4s ease-in !important;
  transition-timing-function: ease-in-out
}

.blog_card:before {
  width: 250%;
  height: 250%
}

.blog_card:after {
  width: 200%;
  height: 200%
}

.blog_card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .blog_card {
    max-width: calc(100vw - 4rem)
  }
}

.card-header,
.item-2_card-header {
  width: 100%;
  text-align: center;
  align-items: center !important;
  align-self: center;
  position: relative;
  top: 0 !important;
  left: 0;
  margin-bottom: 10px
}

.card-header {
  background-color: transparent;
  border-radius: .67em !important;
  background-size: cover
}

.item-2_card-header {
  color: #fff;
  padding: 1em;
  background-color: inherit;
  border-radius: .67em !important;
  background-blend-mode: darken
}

.item-2_card-header::before,
.item-2_card-header::after {
  content: "";
  display: table
}

.item-2_card-header::after {
  clear: both
}

.item-2_card-header .date {
  float: left;
  font-size: 12px
}


.it2-card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1
}


.blog_card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.blog_card p {
  flex: 1;
  line-height: 1.4;
}

.blog_card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.blog_card .thumb,
.firststblog_card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1/span 2;
  }

  .item-1 h1 {
    font-size: 24px;
  }
}

.content::-webkit-scrollbar,
div.module-content::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

/* it2-card */

figure.it2-card {
  background: -webkit-linear-gradient(-45deg, #34495e 0%, #cc6055 100%);
  background: linear-gradient(-45deg, #34495e 0%, #cc6055 100%)
}

figure.it2-card .blog_post_title {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%
}

.it2-card .post-scroll-i {
  align-self: center;
  text-align: center;
  height: 70px;
  margin: 0
}

.it2-card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s
}

.it2-card input[type=checkbox] {
  display: none
}

.it2-card input[type=checkbox]:checked+.menu-content {
  transform: translateY(-60px)
}

figure.it2-card .post-summary {
  text-transform: none;
  --bg-filter-opacity: 0.70;
  background-color: linear-gradient(rgba(0, 0, 0, var(--bg-filter-opacity)), rgba(0, 0, 0, var(--bg-filter-opacity)));
  border-radius: 3%;
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%
}

figure.it2-card:hover .blog_post_title,
figure.it2-card:hover .post-summary {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  color: #fff;
  -webkit-filter: brightness(100%) !important;
  -moz-filter: brightness(100%) !important;
  -o-filter: brightness(100%) !important;
  -ms-filter: brightness(100%) !important;
  filter: brightness(100%) !important
}

figure.blog_card.it2-card:focus,
figure.blog_card.it2-card:hover {
  background-image: linear-gradient(#000, rgba(0, 0, 0, 0.803)), var(--bg-img) !important;
  background-position: center;
  object-position: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out !important;
  background-blend-mode: darken !important;
  background-repeat: no-repeat
}



.it2-card .blog_post_title {
  position: relative;
  font-size: var(--h3-font-size);
  margin-top: 15px;
  color: var(--body-color)
}

.it2-card:focus .blog_post_title,
.it2-card:hover .blog_post_title {
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1)
}

.it2-card .post-category {
  font-size: 13px
}


.it2-card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.it2-card .menu-content::before,
.it2-card .menu-content::after {
  content: "";
  display: table
}

.it2-card .menu-content::after {
  clear: both
}

.it2-card .menu-content li {
  display: inline-block
}

.it2-card .menu-content a {
  color: #fff
}

.it2-card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0)
}

.it2-card:hover .data {
  transform: translateY(0)
}


.blog_post_title,
.blog_post_title a {
  color: #ffffff !important;
  text-shadow: #000000e3;
  -webkit-background-clip: content-box;
  background-clip: content-box
}

div.card-body.center {
  margin-top: 12px !important;
  padding: 0 !important
}

.it2-card .post-category:hover,
.it2-card .post-category:focus,
.it2-card .post-summary a:hover,
.it2-card .post-summary a:focus {
  color: #fff;
  -webkit-transform: scale3d(2, 2, 1);
  transform: scale3d(2, 2, 1);
  -webkit-filter: brightness(100%) !important;
  -moz-filter: brightness(100%) !important;
  -o-filter: brightness(100%) !important;
  -ms-filter: brightness(100%) !important;
  filter: brightness(100%) !important
}

/* Pagination */


.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: .25rem;
  padding: 0;
  margin: 0 auto !important
}

.paginator_row {
  justify-items: center;
  padding: 0px;
  margin: 0 auto
}

ul.pagination.pagination-sm {
  margin: 0 auto;
  justify-self: center;
  text-align: center
}

ul.pagination.pagination-sm li {
  background-color: var(--card-background-color);
  border-radius: 0.5rem
}

.pagination-link {
  padding: 15px;
  text-decoration: none
}

.pagination-link a:hover {
  color: var(--first-color)
}

.pagination-link::after {
  visibility: hidden;
  display: none
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--first-color-second)
}

/* News letter section */

section#newsletter_footer {
  color: var(--main-text-color);
  text-align: center;
  margin: 0 auto;
  // margin-top: 50px !important;
  padding-bottom: 20px;
  border-radius: 0.7em
}

ins.adsbygoogle,
#newsletter_footer {
  background-color: var(--newsletter-background-color)
}

ins.adsbygoogle::-webkit-scrollbar {
  visibility: hidden
}

ins.adsbygoogle {
  border: 1px solid var(--container-color);
  border-radius: 1em;
  margin: 0 auto;
  margin-top: 2em !important;
  width: 80%
}

@media (max-width: 780px) {

  section#newsletter_footer,
  ins.adsbygoogle {
    width: 90%
  }
}

@media (min-width: 781px) {

  section#newsletter_footer,
  ins.adsbygoogle {
    width: 80%
  }
}

#mc-embedded-subscribe-form {
  width: 100%;
  padding: 10px;
  margin: 0 auto !important
}

form#mc-embedded-subscribe-form.flex.validate {
  padding: 5px 5px 10px 5px !important
}

div#letter {
  min-height: 220px;
  margin: 0 auto
}

div#letter h2 {
  font-size: var(--h2-font-size)
}

div#letter p {
  margin-bottom: 0px;
  padding: 0px
}

div#letter form {
  margin-top: 1em;
  width: 85%;
  flex-direction: column;
  justify-content: space-around
}


@media (min-width: 500px) {

  div#letter,
  #mc-embedded-subscribe-form {
    height: 215px !important
  }

  div#letter h2 {
    font-size: var(--h3-font-size)
  }
}

@media (min-width: 768px) {
  div#letter form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between
  }
}

div#letter form input {
  margin: 0.5em auto;
  width: 100%
}

.crash_bot_signups {
  position: absolute;
  left: -5000px
}

input#mc-embedded-subscribe_footer.btn.btn-lg.btn-success {
  align-items: center;
  text-align: center;
  border-radius: .5em !important;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-semi-bold);
  font-weight: var(--font-medium);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.542);
  transition: .5s;
  cursor: pointer
}

input#mc-embedded-subscribe_footer.btn.btn-lg.btn-success:hover {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
  box-shadow: 0 0 4.4rem 0.2rem rgba(86, 94, 205, 0.309)
}

div#letter form input[type='email'] {
  border-radius: 0.7em
}

@media (min-width: 768px) {
  div#letter form input {
    width: auto
  }
}

div#letter form input[type='email'] {
  padding: 1em 0.5em;
  width: 100%;
  border: 2px solid var(--button-background-color)
}

@media (min-width: 768px) {
  div#letter form input[type='email'] {
    width: 45%
  }
}

#mce-EMAIL_footer {
  width: 400px;
  padding: 14px;
  color: #111;
  border-color: #111;
  background: bisque;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff
}

#mc-embedded-subscribe_footer {
  margin-top: 30px
}

@media (min-width: 320px) and (max-width: 480px) {
  header {
    text-align: center;
    background-color: var(--main-background-color);
    box-shadow: 0px;
    width: 100%;
    padding: 1px
  }

  #mc-embedded-subscribe-form {
    width: 100%;
    padding: 50px
  }

  #mce-EMAIL_footer {
    width: 200px;
    padding: 14px;
    color: #111;
    border-color: #fff;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff
  }

  #mc-embedded-subscribe_footer {
    margin-top: 30px
  }
}

@media (min-width: 200px) and (max-width: 319px) {
  header {
    text-align: center;
    background-color: var(--main-background-color);
    box-shadow: 0px;
    width: 100%;
    padding: 1px
  }

  #mc-embedded-subscribe-form {
    width: 100%;
    padding: 50px
  }

  #mce-EMAIL_footer {
    width: 200px;
    padding: 14px;
    color: #111;
    border-color: #fff;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff
  }

  #mc-embedded-subscribe_footer {
    margin-top: 30px
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  header {
    background-color: var(--main-background-color);
    box-shadow: 0px;
    width: 100%;
    padding: 11px
  }

  #mc-embedded-subscribe-form {
    width: 100%;
    padding: 50px
  }

  #mce-EMAIL_footer {
    width: 200px;
    padding: 14px;
    color: #111;
    border-color: #fff;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff
  }

  #mc-embedded-subscribe_footer {
    margin-top: 30px
  }
}