.footer {
  width: 95%;
  max-width: 1440px;
  position: relative !important;
  height: auto;
  min-height: 35vh;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2rem;
  border-radius: .5rem;
  margin: 0px auto !important;
  padding-bottom: 1em;
}

.footer:focus,
.footer:hover {
  cursor: auto;
}

.footer__container {
  text-align: left;
  margin: 0 auto !important;
  padding: 0 1rem !important;
}

footer .logo {
  justify-self: center !important;
  align-self: center !important;
  background: inherit;
  width: 50px;
  height: 50px;
}

.footer__bg {
  background-color: var(--first-color-second);
  border-radius: .5rem;
  padding: 2rem 0 5.2rem !important;
}

.footer__legal {
  font-size: var(--small-font-size);
  color: rgba(255, 151, 102, 0.987) !important;
}

.footer__legal:hover {
  color: rgb(255, 183, 150) !important;
  transform: translateX(+2%);
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.footer__feedbackm {
  color: var(--bold-color) !important;
  font-size: var(--smaller-font-size) !important;
  padding-top: 4px;
  width: 90%;
}

.footer .col {
  width: 190px !important;
  height: auto !important;
  float: left !important;
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  padding: 0px 20px 20px 20px !important;
}

.footer .col h1 {
  margin: 0 !important;
  padding: 0 !important;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px !important;
  padding: 20px 0px 5px 0px !important;
  color: var(--bold-color) !important;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.footer .col ul:focus,
.footer .col ul:hover {
  cursor: pointer !important;
}

.footer .col ul li {
  color: var(--bold-color);
  font-size: var(--font-medium);
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.footer .col div a {
  color: var(--bold-color);
  font-size: var(--font-medium);
  font-family: inherit;
  padding: 5px 0px 5px 0px;
  font-weight: bold;
}

.social ul li {
  display: inline-block !important;
  padding-right: 5px !important;
}

.footer .col div a:hover,
.footer .col ul li:hover {
  color: #ffffff;
}

.footer .col ul li:hover {
  color: var(--first-color-lighter);
  transform: translateX(+3%);
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}

.footerbrand {
  position: relative;
  display: inline-block !important;
  color: var(--text-color) !important;
  font-weight: var(--font-semi-bold);
  font-family: 'Quicksand', sans-serif !important;
  cursor: pointer !important;
}

.footerbrand span {
  transition: .54s linear;
}

.footerbrand:hover span:nth-child(1) {
  margin-right: 5px;
}

.footerbrand:hover span:nth-child(1):after {
  content: "✨";
  margin-right: 5px;
}

.footerbrand:hover span:nth-child(2) {
  margin-right: 5px;
  color: var(--bold-color);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.footerbrand:hover span:nth-child(2):after {
  position: relative;
  content: "uick";
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.footerbrand:hover span:nth-child(3) {
  margin-right: 5px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.footerbrand:hover span:nth-child(3):after {
  position: relative;
  content: "h";
}

@media only screen and (min-width: 1280px) {
  .footer__container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .footer__container .social {
    width: 1000px;
    display: block;
  }

  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50% !important;
  }

  .footer .col h1 {
    font-size: 14px !important;
  }

  .footer .col ul li {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100% !important;
  }
}

@media screen and (min-width: 568px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    margin: 0 auto !important;
    padding: 0 1rem !important;
  }
}

.footer__link,
.footer__social {
  color: #ffffffbd !important;
}

.footer__link {
  display: flex !important;
  flex-direction: column !important;
  row-gap: 1.5rem;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer__social:hover {
  transform: translateX(+2%);
  color: var(--first-color-lighter);
}

.footer__copy {
  font-size: var(--small-font-size);
  text-align: center;
  color: rgba(240, 248, 255, 0.96);
  margin-top: var(--mb-3);
}

.back-to-top {
  /* position: fixed; */
  /* display: flex; */
  /* flex-direction: row; */
  left: 1%;
  bottom: auto;
}

@media (max-width: 576px) {
  footer .copy {
    flex-direction: column;
    text-align: center;
  }

  footer .copy a {
    display: block;
  }
}

header,
footer,
main {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
}