---
---

// # Only the main Sass file needs front matter (the dashes are enough)

@charset "utf-8";

@import
    // "skins/ // site.text_skin | default: site.data.variables.default.text_skin //",
    // "skins/chocolate",
    // "skins/dark",
    // "skins/default",
    // "skins/forest",
    // "skins/ocean",
    // "skins/orange",

    // "skins/highlight/ // site.highlight_theme | default: site.data.variables.default.highlight_theme //",
    // "skins/highlight/tomorrow",
    // "skins/highlight/tomorrow-night",
    // "skins/highlight/tomorrow-night-eighties",
    // "skins/highlight/tomorrow-night-blue",
    // "skins/highlight/tomorrow-night-bright",

    // "common/variables",
    // "common/function",
    // "common/classes",
    "common/fonts",
    // "common/reset",
    // "common/print",
    // "common/components/button",
    // "common/components/image",
    // "common/components/card",
    // "common/components/gallery",
    // "common/components/hero",
    // "common/components/menu",
    // "common/components/modal",
    // "common/components/toc",
    // "common/components/item",
    // "common/components/swiper",

    // "animate/fade-in",
    "animate/glow",
    "animate/icon-wiggle",
    "animate/on-off",
    // "animate/fade-in-down",
    // "animate/fade-in-up",
    "animate/sun-moon",
    "animate/text-color",
    "animate/typewriter",

    // "components/main",
    // "components/header",
    "components/footer",
    // "components/article-list",
    // "components/article-info",
    // "components/article-header",
    // "components/article-content",
    // "components/article-footer",
    // "components/author-links",
    // "components/author-profile",
    "components/switch",
    // "components/tags",
    // "components/search",
    // "components/lightbox",
    // "components/extensions",

    // "additional/alert",
    // "additional/tag",
    // "additional/photo-frame",

    // "layout/base",
    // "layout/page",

    // "layout/article",
    // "layout/articles",
    // "layout/archive",
    // "layout/home",
    // "layout/landing",
    // "layout/404",
    "custom"
;


.typewriter:after {
    border-right: 0.15em solid var(--first-color-alt);
    animation: caret_typewriter 1s steps(1) infinite;
    content: "";
}
.nav__btns{
    display:flex;
    float: left;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

.wrapper{
    width: 128px;
    height: 80px;
    position: relative;
    top:68%;
    left:50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
}

// Scroll 
// .scroll-list {}
@media screen and (max-width: 768px) {
    .scroll-list {
        margin-top: 2px;
    }
}
.scroll-list__wrp {
    overflow: auto;
}
.scroll-list__wrp .scrollbar-track {
    display: none !important;
}
.js-scroll-list-item {
    display: block;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
}
.js-scroll-list-item.item-hide {
    opacity: 0;
    transform: scale(0.7);
}
.js-scroll-list-item.item-focus {
    opacity: 1;
    transform: scale(1);
}
.js-scroll-list-item.item-next {
    opacity: 1;
    transform: scale(1);
}
.js-scroll-list-item.item-next + .js-scroll-list-item {
    opacity: 1;
    transform: scale(1);
}
/*======================================================= BASE =======================================================*/
*,::after,::before {
    box-sizing: border-box
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    height: 100%;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}


article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

dl,ol,ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 0
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

code,kbd,pre,samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

figure {
    margin: 0 0 1rem
}

img {
    vertical-align: middle;
    border-style: none
}

button,input,optgroup,select,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,input {
    overflow: visible
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

[hidden] {
    display: none!important
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit
}

.h1,h1 {
    font-size: 2.5rem
}

.h2,h2 {
    font-size: 2rem
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1)
}

pre {
    display: block;
    font-size: 87.5%;
    color: #212529
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal
}

code {
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word
}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem
}
.dropdown,.dropleft,.dropright,.dropup {
    position: relative
}
.form-group {
    margin-bottom: 1rem
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}
.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1
}
// .popover {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1060;
//     display: block;
//     max-width: 276px;
//     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//     font-style: normal;
//     font-weight: 400;
//     line-height: 1.5;
//     text-align: left;
//     text-align: start;
//     text-decoration: none;
//     text-shadow: none;
//     text-transform: none;
//     letter-spacing: normal;
//     word-break: normal;
//     word-spacing: normal;
//     white-space: normal;
//     line-break: auto;
//     font-size: .875rem;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid rgba(0,0,0,.2);
//     border-radius: .3rem
// }
.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

@supports ((position: -webkit-sticky) or (position:sticky)) {
    .sticky-top {
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020
    }
}

.mr-3,.mx-3 {
    margin-right: 1rem!important
}

::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}
