

body {
  font-family: 'Quicksand', sans-serif !important;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  font-variant-numeric: oldstyle-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color) !important;
  background-color: var(--main-background-color) !important;
  background: var(--body-background-image) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  transition: all 300ms linear;
  text-rendering: optimizeLegibility;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
  overflow-y: scroll;
  overflow-x: hidden;
}

.sticky-top,
.sticky-bottom {
  position: -webkit-sticky !important;
  position: sticky !important;
  transition: all 300ms;
}

.sticky-top {
  top: 1.5px;
}

.sticky-bottom {
  bottom: 10px;
}





.content {
  margin: 0 auto !important; 
  padding-top: 20px !important;
  margin-top: 15px !important;
  overflow: visible;
  max-height: 100%;
}

.content::-webkit-scrollbar {
  display: none;
}

.content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
.content img:nth-of-type(2) {
  margin: 75px auto;
}


.top {
  width: 100%;
  margin: 0;
  display: block;
  height: 300px;
}





/*===== CLASS CSS ===== */
.section{
  padding: 2rem 0 2rem !important;

  &-title{
      position: relative;
      font-size: var(--h2-font-size);
      color: var(--dark-color);
      margin: var(--mb-4) 0;
      text-align: center;
  
      &::after{
          position: absolute;
          content: '';
          width: 32px;
          height: .18rem;
          left: 0;
          right: 0;
          margin: auto;
          top: 2rem;
          background-color: var(--first-color);
      }
  }
}



/*===== NAV =====*/


.top {
  width: 100%;
  margin: 0;
  display: block;
  height: 300px;
}

header::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0 !important;
  display: block;
  background-size: cover;
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}
header, header:before {
  background: 50% 50% / cover;
}

header,
#header.header {
  width: 100vw;
  top: 0 !important;
  // height: 25%;
  min-height: 19vw;
  box-sizing: border-box;
  /* position  -not- relative; */
}

/* ------ Sticky ------*/

.sticky-top,
.sticky-bottom {
  position: -webkit-sticky !important;
  position: sticky !important;
  transition: all 300ms;
}

.sticky-top {
  top: 1.5px;
}

.sticky-bottom {
  bottom: 10px;
}


.content {
  margin: 0 auto !important; 
  padding-top: 20px !important;
  margin-top: 15px !important;
  overflow: visible;
  max-height: 100%;
}

.content::-webkit-scrollbar {
  display: none;
}

.content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
.content img:nth-of-type(2) {
  margin: 75px auto;
}

// GDPR and TERMS

.page_article-card {
  background: var(--body-color);
  box-shadow: 0px 0px 15px #555;
  width: 75%;
  border-radius: .8em;
  display: block;
  padding: 30px 0px;
  margin: 30px auto 20px auto;
  animation: square 3s linear;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-delay: .5s
}

.page_article-card:hover {
  transform: rotate(0);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.597);
}
@media screen and (max-width: 640px) {
  .page_article-card {
      background: var(--body-color);
      box-shadow: 0px 0px 15px rgb(51, 51, 51);
      width: 95%;
      border-radius: 1em;
  }
}

div.terms_content,
div.gdpr_content {
  padding: 5px !important;
  //   width: fit-content !important; 
  margin: 0 auto !important; 
  margin-top: 0 !important;
  overflow: scroll !important;
  max-height: 100%;
}

.terms_content::-webkit-scrollbar,
.gdpr_content::-webkit-scrollbar {
  display: none;
}

.terms_content h2,
.gdpr_content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
.terms_content img,
.gdpr_content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}



@media (max-width: 652px) {
  .blognavbrand {
      display: none;
      visibility: hidden;
  }
}

.btn-dark {
  background-color:var(--button-background-color) !important;
  color: var(--bold-color) !important;
}

.img-thumbnail {
  padding: .25rem;
  background-color: #000 !important;
  border: 1px solid #020305 !important;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
  margin: 15px;
}

.author_bio{
  margin-top:5px;
}
.card-title {
  margin-bottom: .75rem !important;
}

/* Search Overlay */
.icon{
  font-size: 35px;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #ffffff;
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button_Dl_CV {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

.button:hover{
  background-color: var(--first-color-alt);
  transform: translateX(-.5px);
}

.button:hover .button__icon{
  transform: translateX(.27rem);
}
.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}
.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

.breadcrumb {
  margin-top: 45px !important;
  /* margin-right: 20px !important; */
  margin-bottom: 20px !important;
  font-size: 15px;
  background-color: var(--card-background-color) !important;
}

#blog-post-container{
  margin-top: -20px;
  margin-left: -35px;
}

.snipcart-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  z-index: 10;
  margin-top: 60px !important;
  padding: 5px !important ;
  background-color: var(--main-background-color) !important;
}

.snipcart-cart__content {
  margin: 0 auto;
  background-color: var(--main-background-color) !important;
}

.snipcart-modal {
  position: relative;
  margin: 25px auto !important;
  max-width: 100%;
  background-color: var(--main-background-color) !important;
  min-height: 100vh;
  height: 100%;
}

.snipcart-item-line {
  background-color:var(--main-background-color) !important;
  color: var(--bold-color) !important;
  margin-bottom: 24px;
  padding: 32px;
  -webkit-box-shadow: 0 8px 24px rgba(231,235,237,.6);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6) !important;
}
.snipcart-item-quantity {
  color: var(--bold-color) !important;
  margin-top: -2px;
}
.snipcart-cart-summary-fees {
  color: var(--bold-color) !important;
}

.snipcart-cart-header {
  background-color: var(--main-background-color) !important;
  color: var(--bold-color) !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.snipcart-modal__close-title {
  color: var(--first-color) !important;
}
.snipcart__button--icon {
  border: 0px solid #f0f5f6 !important;
}
#snipcart-floating-cart{
  margin-top: 90px !important;
}

.snipcart-cart-button--secondary {
  color: --var(--bold-color) !important;
  background-color: var(--button-background-color) !important;
  padding: 16px;
  text-transform: none;
}
.snipcart-payment-methods__title {
  background-color: black !important;
}

/* pagination */
.pagination {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  border-radius: .25rem;
  padding: 0;
  margin: 0 auto !important;
}

.paginator_row {
  justify-items: center;
  padding: 0px;
  margin: 0 auto;
}

ul.pagination.pagination-sm {
  margin: 0 auto;
  justify-self: center;
  text-align: center;
}

ul.pagination.pagination-sm li {
  background-color: var(--card-background-color);
  border-radius: .5rem;
}

.pagination-link {
  padding: 15px;
  text-decoration: none;
}
.pagination-link a:hover {
  color: var(--first-color);
}
.pagination-link::after {
  visibility: hidden;
  display: none;
}

.lead {
  font-size: 1.30rem !important;
  font-weight: 600;
  color: #111 !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--first-color-second);
}

.product{
  width: 29%;
  float:left;
}

/* Share page buttons */
.share-page {
  text-align: center;
  background: var(--button-background-color);
  color: #111;
  padding: 8px 15px;
  border-radius: 5px;
  margin: 1.5 * 1 * 0;

  .share-text{
      color: var(--main-text-color);
  }
}
.fb_iframe_widget span{vertical-align:inherit !important;}

/* floating btn for buy me coffee */
#bmc-wbtn{
  bottom: 40px !important;
}

/* Disqus */
#reactions .reaction-items .reaction-item .reaction-item__text, #reactions-promotion .reaction-items .reaction-item .reaction-item__text {
  margin-left: 8px;
  color: var(--main-text-color) !important;
}

#reactions, #reactions-promotion {
  margin-bottom: 10px;
  color:var(--main-text-color) !important;
}

/* Gallery */
/* image-gallery */
#imageGallery{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Progress bar */
.my-class .bar {
  background: var(--first-color-lighter);
}

.lg-progress-bar .lg-progress {
  background-color: var(--first-color-lighter);
  height: 4px;
  width: 0;
}

/* Homepage project cards*/

#project-card{
  margin: 0px !important;
}
#article{
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-top: 20px !important;
}
.project_thumbnail{
  text-align: center;
}
.project-img{
  width:150px;
  height:100px;
}
.project_details{
  padding: 10px;
}
.project_links {
  margin: 4px;
  padding-top: 32px;
  padding-left: 50px !important;
}

#article-container{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 50fr 4fr;
}

#recent-articles,#recent-projects{
  margin-top: 30px !important;
}

#recent-articles-header{
  display: grid;
  width: 100%;
  grid-template-columns: 17fr 2fr;
}

#article-img, #article-link, #article-alert {
  padding-left: 5px;
  padding-top: 2px;
  margin: 5px;
}
.recent-article-link{
  font-size: 20px;
  text-decoration: none;
}
.article-card-link, .article-card-link:hover{
  text-decoration: none;
  color: var(--first-color-second) !important;
}
.article-card{
  list-style-type: none;
}
.article-card a :hover{
  text-decoration: none;
  background: #41414180!important;
  border-color: #303030;
  background: transparent;
}

#profile-card {
  text-align: center;
  #author-img{
      text-align: center;
  }
  .profile-img {
      width: 150px;
      height: 150px;
      margin-left: 20px;
      border-radius: 50%;
  }
  .profile-name {
      margin-top: 20px;
  }
  .profile-bio,
  .profile-links {
      margin-top: 5px;
  }
  .social-link {
      color: var(--social-link-color) !important;
      font-size: 15px;
      padding: 5px;
      margin: 2px;
      text-decoration: none !important;
  }
  #header-nav{
      float: right;
      margin-inline-start: 45px;
  }
  #navigation{
      margin-top:50px;
  }

}

#author_projects {
  .project-img {
      width: 300px;
      height: 200px;
  }
  #project-card{
      margin-top:30px;
  }
  .project-link{
      color: var(--link-color);
  }
}

.company-logo {
  width: 100px;
  height: 100px;
}

.author-profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
/* MEDIA QUERIES */
@media screen and (max-width: 415px) {
  .firststblog_card {
      height: 14em;
  }
}

@media screen and (max-width: 500px) {
  .blog_card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1/span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}

@media (min-width: 30em) {
  .band {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .band {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1285px) {
  .blog_cards-wrapper {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .blog_cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
}

// End Blog Post -------//

.blog-post {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 45%;
  height: auto;
  margin: 20px auto !important;
}

.blog-post:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


#newsletter_footer {
  color: var(--main-text-color);
  text-align: center;
  margin: 0 auto;
  margin-top: 50px !important;
  border-radius: .7em;
}

/*  Ads by Google */
ins.adsbygoogle,
#newsletter_footer {
  background-color: var(--newsletter-background-color);
}

ins.adsbygoogle::-webkit-scrollbar {
  visibility: hidden;
}

ins.adsbygoogle {
  border: 1px solid var(--container-color);
  // background-image: url(https://path.to/adsbgimg.jpg);
  border-radius: 1em;
  margin: 0 auto;
  margin-top: 2em !important;
  width: 80%;
  // overflow: scroll;
}

@media (max-width: 780px) {
  div#newsletter_footer,
  ins.adsbygoogle {
      width: 90%;
  }
}
@media (min-width: 781px) {
  div#newsletter_footer,
  ins.adsbygoogle {
      width: 80%;
  }
}


#mc-embedded-subscribe-form {
  width: 100%;
  padding: 10px;
  margin: 0 auto !important;
}

form#mc-embedded-subscribe-form.flex.validate {
  padding: 5px 5px 10px 5px !important;
}

// form#mc-embedded-subscribe-form.flex.validate input {
//     border-radius: .7em;
// }

section#letter {
  min-height: 220px;
  margin: 0 auto;
}

section#letter h2 {
  font-size: var(--h2-font-size);
}

section#letter p {
  margin-bottom: 0px;
  padding: 0px;
}

section#letter form {
  margin-top: 1em;
  width: 85%;
  flex-direction: column;
  justify-content: space-around;
}

.crash_bot_signups {
  position: absolute;
  left: -5000px;
}
@media (min-width: 500px) {
  section#letter,
  #mc-embedded-subscribe-form {
      height: 215px !important;
  }
  section#letter h2 {
      font-size: var(--h3-font-size);
  }
}

@media (min-width: 768px) {
  section#letter form {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
}

section#letter form input {
  margin: 0.5em auto;
  width: 100%;
}

input#mc-embedded-subscribe_footer.btn.btn-lg.btn-success {
  align-items: center;
  text-align: center;
  border-radius: .5em !important;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-semi-bold);
  font-weight: var(--font-medium);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.542);
  transition: .5s;
  cursor: pointer;
}

input#mc-embedded-subscribe_footer.btn.btn-lg.btn-success:hover {
  color: #ffffff;
  border-color: hsla(0, 0%, 100%, .6);
  -webkit-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
  box-shadow: 0 0 4.4rem .2rem hsla(236, 54%, 57%, 0.309);
}

section#letter form input[type='email'] {
  border-radius: .7em;
}

@media (min-width: 768px) {
  section#letter form input {
      width: auto;
  }
}
section#letter form input[type='email'] {
  padding: 1em 0.5em;
  width: 100%;
  border: 2px solid var(--button-background-color);
}
@media (min-width: 768px) {
  section#letter form input[type='email'] {
      width: 45%;
  }
}

#mc_embed_signup_scroll_footer {
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 22px;
}

#mce-EMAIL_footer {
  width: 400px;
  padding: 14px;
  color: #111;
  border-color: #111;
  background: bisque;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
}

#mc-embedded-subscribe_footer {
  margin-top: 30px;
}


/* Responsive Media Queries:

## Device = Low Resolution Tablets, Mobiles (Landscape)
## Screen = B/w 320px to 480px */

@media (min-width: 320px) and (max-width: 480px) {
  header {
      height: auto;
      text-align: center;
      background-color: var(--main-background-color);
      box-shadow:0px;
      height: auto;
      width: 100%;
      padding: 1px;
      #author-img {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
      }
      #author_details {
          text-align: center;
      }
  }

  #mc-embedded-subscribe-form {
      width: 100%;
      padding: 50px;
  }

  #mc_embed_signup_scroll_footer {
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      font-size: 12px;
  }
  #mce-EMAIL_footer {
      width: 200px;
      padding: 14px;
      color: #111;
      border-color: #fff;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
  }
  #mc-embedded-subscribe_footer {
      margin-top: 30px;
  }
  .blog-post {
      width: 100%;
      height: auto;
      margin: 20px !important;
  }
  .product{
      width: auto;
      float:left;
  }
  #topNav {
      padding-left:  0px;
      padding-right: 0px;
  }
  .navbar-brand {
      cursor: pointer;
      position:absolute;
      top:10;
      right:15;
      line-height: inherit;
      background-color: var(--body-color);
  }
}

/* Smartphones */
@media (min-width: 200px) and (max-width: 319px) {
  header {
      height: auto;
      text-align: center;
      background-color: var(--main-background-color);
      box-shadow:0px;
      height: auto;
      width: 100%;
      padding: 1px;

      #author-img {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
      }

      #author_details {
          text-align: center;
      }
  }

  #mc-embedded-subscribe-form {
      width: 100%;
      padding: 50px;
  }

  #mc_embed_signup_scroll_footer {
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      font-size: 12px;
  }

  #mce-EMAIL_footer {
      width: 200px;
      padding: 14px;
      color: #111;
      border-color: #fff;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
  }

  #mc-embedded-subscribe_footer {
      margin-top: 30px;
  }

  .blog-post {
      width: 100%;
      height: auto;
      margin: 20px !important;
  }

  .product{
      width: auto;
      float:left;
  }
  #topNav {
      padding-left:  0px;
      padding-right: 0px;
  }
  .navbar-brand {
      cursor: pointer;
      position:absolute;
      top:10;
      right:15;
      margin-right: 28rem;
      margin-top: -1.8rem;
      display: inline-block;
      background-color: var(--body-color);
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

      /*Header Navigation */
      header {
          background-color: var(--main-background-color);
          box-shadow:0px;
          height: auto;
          width: 100%;
          padding: 11px;

          #author-img{
              margin-left:auto;
              margin-right: auto;
              width:100%;
          }
          #author_details{
              text-align: center;
          }
      }

      #topNav {
          padding-left:  0px;
          padding-right: 0px;
      }

      #mc-embedded-subscribe-form {
            width: 100%;
            padding: 50px;
        }

      #mc_embed_signup_scroll_footer {
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
            font-size: 12px;
        }

      #mce-EMAIL_footer {
            width: 200px;
            padding: 14px;
            color: #111;
            border-color: #fff;
            text-align: center;
            text-transform: capitalize;
            border: 1px solid #fff;
          
      }

      #mc-embedded-subscribe_footer {
            margin-top: 30px;
      }

      .blog-post {
              width: 100%;
              height: auto;
              margin: 20px !important;
      }

      .product{
              width: auto;
              float:left;
      }

}

/* Github Follow Button */
.widget-lg .btn, .widget-lg .social-count {
  height: 35px !important;
  padding: 10px 30px 1px !important;
  font-size: 15px !important;
  line-height: 20px !important;
}


// Gradient animation
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes square {
  0%, 100% {
      transform: translateY(-20px);
  }
  50% {
      transform: translateY(20px);
  }
}


/* Syntax Hightlighter */
.highlight pre { background-color: #212529; padding: 20px;}
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
.highlight .gh { color: #111111 } /* Generic Heading and Diff Header */
.highlight .gu { color: #75715e } /* Generic.Subheading and Diff Unified/Comment? */
.highlight .gd { color: #f92672 } /* Generic.Deleted and Diff Deleted */
.highlight .gi { color: #a6e22e } /* Generic.Diff and Diff Inserted */
/* end custom scss snippet */
