.main {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin: 0 auto;
  padding: 0;
  -webkit-border-radius: .5rem !important;
-moz-border-radius: .5rem !important;
  border-radius: .5rem;
  background: var(--body-background-image);
}