*,::before,::after{
  box-sizing: border-box !important;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #181a1c;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #202224;
  --header-height: 3rem;

  /* Change favorite color */
  --hue-color: 251;

  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*== z-index ==*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --clr1: #ddd;
  --clr2: #efefef;
  --clr3: #333;
  --clr4: tomato;
  --border-radius: 7px;
  --text-radius: 50em;

  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  
  --first-color: #5361FF;
  --white-color: #FAFAFF;
  --dark-color: #2a3b47;
  --text-color: #707c80;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --z-fixed: 100;
  --header-height: 3rem;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);

  /*== Font and typography ==*/
  --font-family-sans-serif: (-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji");
  --font-family-monospace: (SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace);
  
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 5.1rem !important;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*== Font weight ==*/
  --font-medium: 500;
  --font-semi-bold: 600;

  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
  --font-medium: 500;

  // --body-font: 'Quicksand', sans-serif;
  --body-font: var(var(--font-family-sans-serif)) !important;

  --big-font-size: 4.5rem !important;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  @media screen and (min-width: 768px){
    --big-font-size: 4.5rem !important;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
  
  /* Font size for large devices */
  @media screen and (min-width: 968px) {
    --big-font-size: 4.8rem !important;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: 1rem;
    --small-font-size: .88rem;
    --smaller-font-size: .75rem;
  }
}

a {
  text-decoration: none !important;
  transition: all 0.5s ease-in-out !important;
  color: #007bff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none
}

a:hover { 
  text-decoration: none !important;
  transition: all 0.5s ease-in-out !important;
}

a:focus { text-decoration: none !important; }

h1,h2,p{
  margin: 0;  
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none !important;
  color: var(--text-color) !important;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
  display: block
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}


h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: .5rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

dl,ol,ul {
  margin-top: 0;
  margin-bottom: 1rem
}

ol ol,ol ul,ul ol,ul ul {
  margin-bottom: 0
}

code,kbd,pre,samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar
}

figure {
  margin: 0 0 1rem
}

img {
  vertical-align: middle;
  border-style: none
}

button,input,optgroup,select,textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

button,input {
  overflow: visible
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0
}

[hidden] {
  display: none!important
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit
}

.h1,h1 {
  font-size: 2.5rem
}

.h2,h2 {
  font-size: 2rem
}

pre {
  display: block;
  font-size: 87.5%;
  color: #030304
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%
}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

.dropdown,.dropleft,.dropright,.dropup {
  position: relative
}
.form-group {
  margin-bottom: 1rem
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1
}
// .popover {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1060;
//     display: block;
//     max-width: 276px;
//     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//     font-style: normal;
//     font-weight: 400;
//     line-height: 1.5;
//     text-align: left;
//     text-align: start;
//     text-decoration: none;
//     text-shadow: none;
//     text-transform: none;
//     letter-spacing: normal;
//     word-break: normal;
//     word-spacing: normal;
//     white-space: normal;
//     line-break: auto;
//     font-size: .875rem;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: padding-box;
//     border: 1px solid rgba(0,0,0,.2);
//     border-radius: .3rem
// }
.clearfix::after {
  display: block;
  clear: both;
  content: ""
}

@supports ((position: -webkit-sticky) or (position:sticky)) {
  .sticky-top {
      position:-webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020
  }
}

.mr-3,.mx-3 {
  margin-right: 1rem!important
}

::selection {
color: #fff;
background-color: #8167a9;
}
::-moz-selection {
color: #fff;
background-color: #8167a9;
}

