---
extra_scss: ""
---

{% capture home_style %}
{% include scss/home_style.scss %}
{% if page.extra_scss %}{{ page.extra_scss }}{% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Alain Herve">
  <meta name="description" content="My portfolio Website">
  <meta name="keywords" content="HTML,CSS,XML,JavaScript">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
  {%- include head/favicon.html -%}
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!--=================== BOX ICONS ===================-->
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <!--==================== UNICONS ====================-->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!--====================== CSS ======================-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css'>
  {%- include head/inline_css_home.html -%}
  <title>Alain Herve</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> -->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.scrollaway.js"></script>
  <!-- Innfinite Scroll js -->
  <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  <!-- or -->
  <!-- <script src="/path/to/infinite-scroll.pkgd.min.js"></script> -->
  <!-- <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"></script> -->

  <!-- for Mathjax support -->
  {% if page.usemathjax %}
  <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <!-- Github Buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
  <!-- "Build by Alain" widget
    <script>
      (function (d, h, m) {
        var js, fjs = d.getElementsByTagName(h)[0];
        if (d.getElementById(m)) { return; }
        js = d.createElement(h); js.id = m;
        js.onload = function () {
          window.makerWidgetComInit({
            position: "left",
            widget: "t96v84nvcjom1hvr-hgfqrw7o0s1vcqm6-wkkhuity43yndwor"
          })
        };
        js.src = "https://makerwidget.com/js/embed.js";
        fjs.parentNode.insertBefore(js, fjs)
      }(document, "script", "dhm"))
    </script>
    -->
  <!-- https://www.buymeacoffee.com/alainherve -->
  <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="alainherve"
    data-description="Support Alain on Buy me a coffee!" data-message="" data-color="hsla(251, 82%, 72%, 0.522)"
    data-position="right" data-x_margin="57" data-y_margin="16"></script>

  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!-->
  <html class="no-js">
  <!--<![endif]-->
</head>

<body>
  <main class="main__hp" id="scroll-animate">
    <!-- <header class="home__header" id="home__header"> -->
    <header>
      <nav class="home___nav" id="home__navbar">
        <a class="blognavbrand" id="blognavbrand"
          href="https://alainqtec.com"><span><span>alain</span><span>Q</span><span>tec</span></span></a>
        <div class="home__navbar__menu" id="h-navbar-menu">
          <ul class="home__nav__list menu hp_grid">
            <li class="home__nav__item">
              <a href="#home" class="home__nav__link active-link">
                <i class="uil uil-estate homep__nav__icon"></i> <strong>Home</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#about" class="home__nav__link">
                <i class="uil uil-user homep__nav__icon"></i> <strong>About</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#blog" class="home__nav__link">
                <i class="uil uil-document-layout-left homep__nav__icon"></i> <strong>Blog</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#skills" class="home__nav__link">
                <i class="uil uil-chart homep__nav__icon"></i> <strong>Skills</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#services" class="home__nav__link">
                <i class="uil uil-briefcase-alt homep__nav__icon"></i> <strong>Services</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#projects" class="home__nav__link">
                <i class="uil uil-scenery homep__nav__icon"></i> <strong>Projects</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#contact" class="home__nav__link">
                <i class="uil uil-message homep__nav__icon"></i> <strong>Contact</strong>
              </a>
            </li>
            <li class="home__nav__item modeSwitcher_btn">
              <div class="modeswitch_wrapper">
                <input class="nav-link switch" id="theme-toggle" onclick="modeSwitcher()" type="checkbox"
                  name="checkbox" />
              </div>
            </li>
            <li>
              <i class="uil uil-times nav__close" id="nav-close"></i>
            </li>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
      </nav>
    </header>
    <div class="homepage__container">
      <article class="homepage_content_card scroll-list" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="article-content-wrap scroll-list__wrp js-scroll-content js-scroll-list">
          <div class="home hp__section js-scroll-list-item" id="home">
            <div class="home__container hlayout__containr hp_grid">
              <div class="home__content hp_grid">
                <div class="home__social">
                  <a href="https://www.linkedin.com/in/alain-herve-9400bb201/" target="_blank"
                    class="homepage__social-icon">
                    <i class="uil uil-linkedin-alt"></i>
                  </a>

                  <a href="https://dribbble.com/alainherve" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-dribbble"></i>
                  </a>

                  <a href="https://github.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-github-alt"></i>
                  </a>

                  <a href="https://twitter.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-twitter-alt"></i>
                  </a>

                  <a href="https://www.instagram.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-instagram"></i>
                  </a>

                  <a href="https://alainqtec.slack.com/" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-slack-alt"></i>
                  </a>
                </div>
                <div class="homepage__img">
                  <svg class="homepage__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                      <path class="homepage_blob_path" d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                    </mask>
                    <g mask="url(#mask0)">
                      <path
                        d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                      <image class="homepage__blob__dp"
                        xlink:href="{{site.url}}{{site.baseurl}}/assets/img/profile.png" />
                    </g>
                  </svg>
                </div>
                <div class="homepage___data">
                  <!-- Same as <h1 class="homepage__title">Hi, I'm Alain.</h1> . Except Its animated Now-->
                  <h1 class="homepage__title name-anime">
                    <span>H</span><span>i,</span> <span>I</span><span>'</span><span>m</span>
                    <span class="alain">
                      <span>A</span><span>l</span><span>a</span><span>i</span><span>n</span>
                    </span>
                  </h1>
                  <h3 class="homepage__subtitle" id="Ocuppation">Frontend developer</h3>
                  <p class="homepage__descr">
                    Tech enthusiast, experienced in web design and development.
                    <br>
                  <div id="reg_ai">
                  </div>
                  <br>
                  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                  <script src="{{site.url}}{{site.baseurl}}/assets/js/intro_typing.js"></script>
                  </p>
                  <a href="#contact" class="button_contactme button--flex">
                    <p class="Contactme_btn_msg">Contact Me</p> <i class="uil uil-message button__icon"></i>
                  </a>
                </div>
              </div>
              <div class="home__scroll">
                <a href="#contact" class="home__scroll button--flex">
                  <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                  <span class="home__scroll-name">Scroll down</span>
                  <i class="uil uil-arrow-down home__scroll-arrow"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="about hp__section js-scroll-list-item" id="about">
            <h2 class="section__title">About me</h2>
            <span class="section__subtitle">Introduction</span>
            <div class="about__container hlayout__containr hp_grid">
              <img src="{{site.url}}{{site.baseurl}}/assets/img/about_Me.png" alt="Alain Herve" class="about__img">
              <div class="about__data">
                <p class="about__description">
                  Passionate 👨‍💻.Helping you get more done, using quick tech solutions.
                  <br>
                  When I'm not coding I like sketching and getting inspiration from "online Art Communities".
                  <br>
                  I also enjoy automating my workflow with <a
                    href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> and <a
                    href="https://en.wikipedia.org/wiki/PowerShell">PowerShell</a>.<br>I mean Why not make your
                  computer do the grunt work!
                </p>
                <div class="about__info">
                  <div>
                    <span class="about__info-title">2+</span>
                    <span class="about__info-name">Years <br> experience</span>
                  </div>
                  <div>
                    <span class="about__info-title">20+</span>
                    <span class="about__info-name">Completed <br> Projects</span>
                  </div>
                  <div>
                    <span class="about__info-title">1</span>
                    <span class="about__info-name">Company <br> Worked</span>
                  </div>
                  <div class="about__buttons button--flex">
                    <a download="" href="{{site.url}}{{site.baseurl}}/assets/pdf/Alain_Herve_Resume_Preview.pdf"
                      class="button_Dl_CV button--fex">CV<i class="uil uil-download-alt button__icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <br id="blog">
            </div>
          </div>
          <div class="Recent_Posts hp__section js-scroll-list-item" id="recent-articles">
            <div class="recent_posts_H" id="recent-articles-header">
              <div id="recent-articles-title">
                <span>
                  <h1 class="section__title .jumbotron-heading">Recent Posts</h1>
                </span>
              </div>
              <div id="recent-articles-show-all">
                <a class="btn btn-lg btn-dark" href="{{ site.url}}{{site.blogurl}}"><span>Show All</span></a>
              </div>
            </div>
            <div class="blog-slider">
              <div class="blog-slider__wrp swiper-wrapper">
                {% for post in site.posts limit:5 %}
                <div class="blog-slider__item swiper-slide">
                  <div class="blog-slider__img">
                    <img src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="thumbnail">
                  </div>
                  <div class="blog-slider__content">
                    <span class="blog-slider__code"><time datetime="{{ post.date }}" itemprop="datePublished">{{
                        post.date | date: "%b %-d, %Y" }}</time></span>
                    <div class="blog-slider__title">{{post.title}}</div>
                    <div class="blog-slider__text">{{post.summary}}</div>
                    <a href="{{post.url}}" class="blog-slider__button">READ MORE</a>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="blog-slider__pagination"></div>
            </div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
            <script src="{{site.url}}{{site.baseurl}}/assets/js/blog-slider.js"></script>
          </div>
          <div class="skills hp__section js-scroll-list-item" id="skills">
            <h2 class="section__title">Skills</h2>
            <span class="section__subtitle">Technologies</span>
            <!-- 
                            # TODO:
                            One way to get fynamic Language stats is by using versel
                            Versel example: ![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=alainQtec&layout=compact&hide=css,html&theme=tokyonight)
                            Wakatime example: [![alainQtec's wakatime stats](https://github-readme-stats.vercel.app/api/wakatime?username=alainQtec&layout=compact)](https://github.com/alainQtec)
                            # TODO
              -->
            <div class="skills__container hlayout__containr hp_grid">
              <div>
                <!--==================== SKILLS 1 ====================-->
                <div class="skill__content skills__open">
                  <div class="skill__header">
                    <i class="uil uil-brackets-curly skills__icon"></i>
                    <h1 class="skill__title">Frontend developer</h1>
                  </div>
                  <div>
                    <details>
                      <summary>👨‍💻<span class="skill__subtitle"> Building Beautiful websites..</span>
                      </summary>
                      <div class="skills__list hp_grid">

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">HTML</h3>
                            <span class="skill__nummber">90%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__html"></span>
                          </div>
                        </div>

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">CSS</h3>
                            <span class="skill__nummber">80%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__css"></span>
                          </div>
                        </div>

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">Firebase</h3>
                            <span class="skill__nummber">60%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__Firebase"></span>
                          </div>
                        </div>

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">Jekyll</h3>
                            <span class="skill__nummber">70%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__Jekyll"></span>
                          </div>
                        </div>

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">Wordpress</h3>
                            <span class="skill__nummber">80%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__Wordpress"></span>
                          </div>
                        </div>

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">Node JS</h3>
                            <span class="skill__nummber">45%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__NodeJS"></span>
                          </div>
                        </div>

                        <div class="skills__data">
                          <div class="skills__titles">
                            <h3 class="skills_name">JavaScript</h3>
                            <span class="skill__nummber">40%</span>
                          </div>
                          <div class="skills__bar">
                            <span class="skills__percentage skills__JavaScript"></span>
                          </div>
                        </div>
                      </div>
                    </details>
                  </div>
                  <!--==================== SKILLS 2 ====================-->
                  <div class="skill__content skills__close">
                    <div class="skill__header">
                      <i class="uil uil-swatchbook skills__icon"></i>
                      <h1 class="skills__title">Designer</h1>
                    </div>
                    <div>
                      <!-- <h1 class="skill__title"></h1> -->
                      <details>
                        <summary>🔥<span class="skill__subtitle"> Designing Mockups & UIs..</span>
                        </summary>
                        <div class="skills__list hp_grid">
                          <div class="skills__data">

                            <div class="skills__titles">
                              <h3 class="skills_name">Figma</h3>
                              <span class="skill__nummber">70%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__Figma"></span>
                            </div>
                          </div>

                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">Adobe XD</h3>
                              <span class="skill__nummber">50%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__AdobeXD"></span>
                            </div>
                          </div>

                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">Canva</h3>
                              <span class="skill__nummber">30%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__Canva"></span>
                            </div>
                          </div>
                        </div>
                      </details>
                    </div>
                  </div>
                  <!--==================== SKILLS 3 ====================-->
                  <div class="skill__content skills__close">
                    <div class="skill__header">
                      <i class="uil uil-server-network skills__icon"></i>
                      <h1 class="skill__title">I.T automation</h1>
                    </div>
                    <div>
                      <details>
                        <summary>❤️<span class="skill__subtitle"> Building tools for IT Support & system
                            admins.</span>
                        </summary>
                        <div class="skills__list hp_grid">
                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">PowerShell</h3>
                              <span class="skill__nummber">80%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__PowerShell"></span>
                            </div>
                          </div>

                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">WPF</h3>
                              <span class="skill__nummber">70%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__WPF"></span>
                            </div>
                          </div>

                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">XAML</h3>
                              <span class="skill__nummber">50%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__XAML"></span>
                            </div>
                          </div>

                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">.NET Core</h3>
                              <span class="skill__nummber">30%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__dotNETCore"></span>
                            </div>
                          </div>

                          <div class="skills__data">
                            <div class="skills__titles">
                              <h3 class="skills_name">Python</h3>
                              <span class="skill__nummber">10%</span>
                            </div>
                            <div class="skills__bar">
                              <span class="skills__percentage skills__Python"></span>
                            </div>
                          </div>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="qualification hp__section js-scroll-list-item">
            <h2 class="section__title">Qualification</h2>
            <span class="section__subtitle">My Personal Journey</span>
            <div class="qualification__container hlayout__containr">
              <div class="qualification__tabs">
                <div class="qualification__button button--flex">
                  <i class="uil uil-graduation-cap qualification__icon"></i>
                  Education
                </div>

                <div class="qualification__button button--flex" data-target="#work">
                  <i class="uil uil-briefcase-alt qualification__icon"></i>
                  Work
                </div>
              </div>

              <div class="qualification__sections">
                <!--==================== QUALIFICATION Content 1 ====================-->
                <div class="qualification__content qualification__active" data-content id="education">
                  <!--==================== QUALIFICATION 1 ====================-->
                  <div class="qualification__data">

                    <div>
                      <Span class="qualification__rounder"></Span>
                      <Span class="qualification__line"></Span>
                    </div>

                    <div>
                      <a href="https://uok.ac.rw" class="Qualif__link">
                        <h3 class="qualification__title">Bachelor's in Business Information Technology</h3>
                        <span class="qualification__subtitle">University</span>
                      </a>
                      <div class="qualification__calendar">
                        <i class="uil uil-calendar-alt"></i>
                        Sep2018 - 2022
                      </div>
                    </div>
                  </div>

                  <!--==================== QUALIFICATION 2 ====================-->
                  <div class="qualification__data">
                    <div>
                      <Span class="qualification__rounder"></Span>
                      <Span class="qualification__line"></Span>
                    </div>

                    <div>
                      <a href="https://rura.rw" class="Qualif__link">
                        <h3 class="qualification__title">IT Technical Support Intern</h3>
                        <span class="qualification__subtitle">RURA</span>
                      </a>
                      <div class="qualification__calendar">
                        <i class="uil uil-calendar-alt"></i>
                        Jun2021 - Sep2021
                      </div>
                    </div>
                  </div>

                  <!--==================== QUALIFICATION 3 ====================-->
                  <div class="qualification__data">

                    <div>
                      <Span class="qualification__rounder"></Span>
                      <Span class="qualification__line"></Span>
                    </div>

                    <div>
                      <a href="https://alainQtec.com" class="Qualif__link">
                        <h3 class="qualification__title">Founder & CEO</h3>
                        <span class="qualification__subtitle">Company name</span>
                      </a>
                      <div class="qualification__calendar">
                        <i class="uil uil-calendar-alt"></i>
                        2022 - 20??
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="services hp__section js-scroll-list-item" id="services">
            <h2 class="section__title">Services</h2>
            <span class="section__subtitle">What I offer</span>
            <div class="services__container hlayout__containr hp_grid">
              <script type="text/javascript">
                function hidediv(id) {
                  document.getElementById(id).style.display = "none";
                }
                function showdiv(id) {
                  document.getElementById(id).style.display = "";
                }
              </script>
              <!--==================== SERVICES 1 ====================-->
              <div class="services__content hp_grid">
                <div>
                  <i class="uil uil-web-grid services__icon"></i>
                  <h3 class="services__title">UI/UX <br> Designer</h3>
                </div>
                <div class="service_show-more" id="showservice0001" onclick="hidediv('showservice0001')">
                  <a href="#ShowserviceOne" class="servicesModal__btn button--flex" id="modal-closed_service_1">
                    Show more
                    <i class="uil uil-arrow-right button__icon"></i>
                  </a>
                </div>
                <div class="service__modal__container" id="ShowserviceOne">
                  <div class="services__modal">
                    <div class="services__modal-content">
                      <ul class="services__modal-services hp_grid">
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I conduct user research and testing.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I illustrate design ideas and develop the User
                            Interface using wireframes.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I create UX element Interactions.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I designing graphic user interface elements, like
                            menus, tabs and widgets.</p>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <div class="service_Demo__btn">
                      Demos <i class="uil uil-arrow-right button__icon"></i>
                    </div>
                    <a href="#services" class="uil uil-times service__modal__close"
                      onclick="showdiv('showservice0001')"></a>
                  </div>
                </div>
              </div>

              <!--==================== SERVICES 2 ====================-->
              <div class="services__content hp_grid">
                <div>
                  <i class="uil uil-web-grid services__icon"></i>
                  <h3 class="services__title">Frontend <br> Developer</h3>
                </div>
                <div class="service_show-more" id="showservice0002" onclick="hidediv('showservice0002')">
                  <a href="#ShowserviceTwo" class="servicesModal__btn button--flex" id="modal-closed_service_2">
                    Show more
                    <i class="uil uil-arrow-right button__icon"></i>
                  </a>
                </div>
                <div class="service__modal__container" id="ShowserviceTwo">
                  <div class="services__modal">
                    <div class="services__modal-content">
                      <ul class="services__modal-services hp_grid">
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I determine the structure and design of web
                            pages.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I develop Web pages using various markup
                            languages.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I optimize web pages for efficiency and "S.E
                            rank".</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I maintain company brand consistency across all
                            web pages.</p>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <div class="service_Demo__btn">
                      Demos <i class="uil uil-arrow-right button__icon"></i>
                    </div>

                    <a href="#services" class="uil uil-times service__modal__close"
                      onclick="showdiv('showservice0002')"></a>
                  </div>
                </div>
              </div>

              <!--==================== SERVICES 3 ====================-->
              <div class="services__content hp_grid">
                <div>
                  <i class="uil uil-web-grid services__icon"></i>
                  <h3 class="services__title">Branding <br> Designer</h3>
                </div>
                <div class="service_show-more" id="showservice0003" onclick="hidediv('showservice0003')">
                  <a href="#ShowserviceThree" class="servicesModal__btn button--flex" id="modal-closed_service_3">
                    Show more
                    <i class="uil uil-arrow-right button__icon"></i>
                  </a>
                </div>
                <div class="service__modal__container" id="ShowserviceThree">
                  <div class="services__modal">
                    <div class="services__modal-content">
                      <ul class="services__modal-services hp_grid">
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I develop the product brand identity.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I create and design product logos.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I create / assemble images and graphic to produce
                            quality designs for websites.</p>
                        </li>
                        <li class="services__modal-service">
                          <i class="uil uil-check-circle services__modal-icon"></i>
                          <p class="services__modal-txt">I review designs for any kind of errors before
                            publishing.</p>
                        </li>
                      </ul>
                    </div>
                    <br>
                    <div class="service_Demo__btn">
                      Demos <i class="uil uil-arrow-right button__icon"></i>
                    </div>

                    <a href="#services" class="uil uil-times service__modal__close"
                      onclick="showdiv('showservice0003')"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="projects hp__section js-scroll-list-item" id="projects">
            <h2 class="section__title">Projects</h2>
            <span class="section__subtitle">My most recent work</span>
            <div class="project__container hlayout__containr bd-grid">
              <div class="project__img">
                <img src="assets/img/work1.jpg" alt="projEct1">

                <div class="project__link">
                  <a href="https://github.com/alainQtec/repo_Name" class="project__link-name" target="_blank"><i
                      class="uil uil-github-alt"></i> View details</a>
                </div>
              </div>
              <div class="project__img">
                <img src="assets/img/work2.jpg" alt="project2">

                <div class="project__link">
                  <a href="https://github.com/alainQtec/repo_Name" class="project__link-name" target="_blank"><i
                      class="uil uil-github-alt"></i> View details</a>
                </div>
              </div>
              <div class="project__img">
                <img src="assets/img/work3.jpg" alt="proj3ct3">

                <div class="project__link">
                  <a href="https://github.com/alainQtec/repo_Name" class="project__link-name" target="_blank"><i
                      class="uil uil-github-alt"></i> View details</a>
                </div>
              </div>
              <div class="project__img">
                <img src="assets/img/work4.jpg" alt="project4">

                <div class="project__link">
                  <a href="https://github.com/alainQtec/repo_Name" class="project__link-name" target="_blank"><i
                      class="uil uil-github-alt"></i> View details</a>
                </div>
              </div>
              <div class="project__img">
                <img src="assets/img/work5.jpg" alt="proj3ct5">

                <div class="project__link">
                  <a href="https://github.com/alainQtec/repo_Name" class="project__link-name" target="_blank"><i
                      class="uil uil-github-alt"></i> View details</a>
                </div>
              </div>
              <div class="project__img">
                <img src="assets/img/work6.jpg" alt="proj3ct6">

                <div class="project__link">
                  <a href="https://github.com/alainQtec/repo_Name" class="project__link-name" target="_blank"><i
                      class="uil uil-github-alt"></i> View details</a>
                </div>
              </div>
            </div>
          </div>
          <div class="project_idea hp__section js-scroll-list-item">
            <!-- This is the part where I will put a small animation  that shows the progress of my opensource projects from github -->
          </div>
          <div class="testimonial hp__section js-scroll-list-item">
            <h2 class="section__title">Testimonials</h2>
            <span class="section__subtitle">What They’re Saying</span>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <!--==================== testimonial 1 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial2.png" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Joe</span>
                          <br>
                          Team
                        </div>
                      </div>
                    </div>
                    <p class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing
                      elit. Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!
                    </p>
                  </div>
                </div>
                <!--==================== testimonial 2 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data hp_grid">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial1.png" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Ena</span>
                          <br>
                          CEO
                        </div>
                      </div>
                    </div>
                    <p class="testimonial__description">I got a good impression, out my project with all the
                      possible quality and support 24 hours a Lorem ipsum dolor.</p>
                  </div>
                </div>
                <!--==================== testimonial 3 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data hp_grid">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template3.png" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Achelle</span>
                          <br>
                          Database Admin
                        </div>
                        </p>
                      </div>
                    </div>
                    <p class="testimonial__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
                <!--==================== testimonial 4 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data hp_grid">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template1.png" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Arther</span>
                          <br>
                          Friend.
                        </div>
                        </p>
                      </div>
                    </div>
                    <p class="testimonial__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
                <!--==================== testimonial 5 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data hp_grid">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template2.png" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Luiz.</span>
                          <br>
                          Network Admin.
                        </div>
                        </p>
                      </div>
                    </div>
                    <p class="testimonial__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
                <!--==================== testimonial 6 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data hp_grid">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets//img/testimonial0.jpg" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Dave.</span>
                          <br>
                          Friend.
                        </div>
                        </p>
                      </div>
                    </div>
                    <p class="testimonial__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                  </div>
                </div>
                <!--==================== testimonial 7 ====================-->
                <div class="swiper-slide">
                  <div class="testimonial__content fade">
                    <div class="testimonial__data hp_grid">
                      <div class="testimonial__header hp_grid">
                        <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template4.png" alt="testimonial"
                          class="testimonial__img">
                        <div class="testimonial__client">
                          <span class="testimonial__name">Xavier Pablo</span>
                          <br>
                          Artist.
                        </div>
                      </div>
                    </div>
                    <p class="testimonial__description">lorem I got a good impression, out my project with all
                      the quality and support 24 hours a Lorem ipsum dolor.</p>
                  </div>
                </div>
              </div>
              <!-- Pagination -->
              <div class="swiper-pagination"></div>
              <!-- Arrows -->
              <!--<div class="swiper-button-next"></div> -->
              <!--<div class="swiper-button-prev"></div> -->
            </div>

            <!-- Swiper JS -->
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
            <script>
              var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                centeredSlides: true,
                spaceBetween: 80,
                slidesPerGroup: 1,
                loop: true,
                loopFillGroupWithBlank: false,
                pagination: {
                  el: '.swiper-pagination',
                  clickable: true,
                },
                navigation: {
                  nextEl: '',
                  prevEl: '',
                },
              });
            </script>
          </div>
          <div class="contact hp__section js-scroll-list-item" id="contact">
            <h2 class="section__title">Contact</h2>
            <span class="section__subtitle">Get in touch</span>

            <div class="contact__container hlayout__containr hp_grid">
              <div>
                <div class="contact__information">
                  <i class="uil uil-phone contact__icon"></i>

                  <div>
                    <h3 class="contact__title">Call Me</h3>
                    <span class="contact__subtitle">
                      <a href="#contact" class="contact__link">
                        +250-784-703-243
                      </a>
                    </span>
                  </div>
                </div>

                <div class="contact__information">
                  <i class="uil uil-envelope contact__icon"></i>

                  <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">
                      <a href="https://mailto:alain.1337dev@outlook.com" class="contact__link" target="_blank">
                        alain.1337dev@outlook.com
                      </a>
                    </span>
                  </div>
                </div>

                <div class="contact__information">
                  <i class="uil uil-whatsapp contact__icon"></i>
                  <div>
                    <h3 class="contact__title">Whatsapp</h3>
                    <span class="contact__subtitle">
                      <a href="https://wa.me/250784703243" class="contact__link" target="_blank">
                        +250-784-703-243
                      </a>
                    </span>
                  </div>
                </div>
              </div>

              <form action="" class="contact__form hp_grid">
                <div class="contact__inputs hp_grid">
                  <div class="contact__content">
                    <label for="" class="contact__label">Name</label>
                    <input type="text" class="contact__input">
                  </div>

                  <div class="contact__content">
                    <label for="" class="contact__label">Email</label>
                    <input type="email" class="contact__input">
                  </div>
                </div>
                <div class="contact__content">
                  <label for="" class="contact__label">Project</label>
                  <input type="text" class="contact__input">
                </div>
                <div class="contact__content">
                  <label for="" class="contact__label">Message</label>
                  <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
                </div>
                <div>
                  <a href="#" class="button_send_msg button--fex">
                    Send Message
                    <i class="uil uil-message button__icon"></i>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
  <!--==================== FOOTER ====================-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/content-scale.js"></script>
  {%- include footer.html-%}
  <!--===== SCROLL REVEAL =====-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!--==================== MAIN JS ====================-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/content-scale.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/h_p.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <div hidden id="snipcart" data-api-key="Y2I1NTAyNWYtMTNkMy00ODg0LWE4NDItNTZhYzUxNzJkZTI5NjM3MDI4NTUzNzYyMjQ4NzU0">
  </div>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <!-- Vendor JS Files -->
  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/vendor/php-email-form/validate.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/vendor/purecounter/purecounter.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/vendor/typed.js/typed.min.js"></script> -->
</body>

</html>