---
title: "Alain Herve"
description: "Developer, designer, content creator, tech enthusiast who loves to build productivity apps and tools."
thumbnail: "{{site.url}}{{site.baseurl}}/assets/favicon/android-chrome-192x192.png"
extra_scss: ""
---

{% capture home_style %}
{% include scss/critical/home.scss %}
{% if page.extra_scss %}{{ page.extra_scss }}{% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {%- include head/favicon.html -%}

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <!--=============== BOXICONS ===============-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--=============== SWIPER CSS ===============-->
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

  <!--=============== CSS ===============-->
  <!-- <link rel="stylesheet" href="assets/css/styles.css"> -->
  {%- include head/inline-scss.html -%}

  <title>Responsive Halloween Website</title>
</head>

<body>
  <main class="main" id="scroll-animate">
    <header>
      <nav class="home___nav" id="home__navbar">
        <a class="blognavbrand" id="blognavbrand"
          href="https://alainqtec.com"><span><span>alain</span><span>Q</span><span>tec</span></span></a>
        <div class="home__navbar__menu" id="h-navbar-menu">
          <ul class="home__nav__list menu hp_grid">
            <li class="home__nav__item">
              <a href="#home" class="home__nav__link active-link">
                <i class="uil uil-estate homep__nav__icon"></i> <strong>Home</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#about" class="home__nav__link">
                <i class="uil uil-user homep__nav__icon"></i> <strong>About</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#blog" class="home__nav__link">
                <i class="uil uil-document-layout-left homep__nav__icon"></i> <strong>Blog</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#skills" class="home__nav__link">
                <i class="uil uil-chart homep__nav__icon"></i> <strong>Skills</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#services" class="home__nav__link">
                <i class="uil uil-briefcase-alt homep__nav__icon"></i> <strong>Services</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#projects" class="home__nav__link">
                <i class="uil uil-scenery homep__nav__icon"></i> <strong>Projects</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#contact" class="home__nav__link">
                <i class="uil uil-message homep__nav__icon"></i> <strong>Contact</strong>
              </a>
            </li>
            <li class="home__nav__item modeSwitcher_btn">
              <div class="modeswitch_wrapper">
                <input class="nav-link switch" id="theme-toggle" onclick="modeSwitcher()" type="checkbox"
                  name="checkbox" />
              </div>
            </li>
            <li>
              <i class="uil uil-times nav__close" id="nav-close"></i>
            </li>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class="uil uil-apps"></i>
        </div>
      </nav>
    </header>
    <article class="homepage_content_card" itemscope itemtype="http://schema.org/BlogPosting">
      <section class="section home container" id="home">
        <div class="swiper home-swiper">
          <div class="swiper-wrapper">
            <!-- HOME SLIDER 1 -->
            <section class="swiper-slide">
              <div class="home__content-0 grid">
                <div class="home__social">
                  <a href="https://www.linkedin.com/in/alain-herve-9400bb201/" target="_blank"
                    class="homepage__social-icon">
                    <i class="uil uil-linkedin-alt"></i>
                  </a>

                  <a href="https://dribbble.com/alainherve" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-dribbble"></i>
                  </a>

                  <a href="https://github.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-github-alt"></i>
                  </a>

                  <a href="https://twitter.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-twitter-alt"></i>
                  </a>

                  <a href="https://www.instagram.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-instagram"></i>
                  </a>

                  <a href="https://alainqtec.slack.com/" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-slack-alt"></i>
                  </a>
                </div>
                <div class="homepage__img">
                  <svg class="homepage__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                      <path class="homepage_blob_path" d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                                  130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                                  97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                                  0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                    </mask>
                    <g mask="url(#mask0)">
                      <path
                        d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                                  165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                                  129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                                  -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                      <image class="homepage__blob__dp"
                        xlink:href="{{site.url}}{{site.baseurl}}/assets/img/profile.png" />
                    </g>
                  </svg>
                </div>
                <div class="homepage___data">
                  <!-- Same as <h1 class="homepage__title">Hi, I'm Alain.</h1> . Except Its animated Now-->
                  <h1 class="homepage__title name-anime">
                    <span>H</span><span>i,</span> <span>I</span><span>'</span><span>m</span>
                    <span class="alain">
                      <span>A</span><span>l</span><span>a</span><span>i</span><span>n</span>
                    </span>
                  </h1>
                  <h3 class="homepage__subtitle" id="Ocuppation">Frontend developer</h3>
                  <p class="homepage__descr">
                    Tech enthusiast, experienced in web design and development.
                    <br>
                  <div id="reg_ai">
                  </div>
                  <br>
                  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                  <script src="{{site.url}}{{site.baseurl}}/assets/js/intro_typing.js"></script>
                  </p>
                  <a href="#contact" class="button_contactme button--flex">
                    <p class="Contactme_btn_msg">Contact Me</p> <i class="uil uil-message button__icon"></i>
                  </a>
                </div>
              </div>
            </section>

            <!-- HOME SLIDER 2 -->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img src="assets/img/home2-img.png" alt="" class="home__img">
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Adino & Grahami</h4>
                    <span class="home__details-subtitle">No words can describe them</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">#2 top Best duo</h3>
                  <h1 class="home__title">BRING BACK <br> MY COTTON <br> CANDY</h1>
                  <p class="home__description">Adino steals cotton candy from his brother and eats them
                    all in one bite,
                    a hungry beast. Grahami can no longer contain his anger towards Adino.
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Book Now</a>
                    <a href="#" class="button--link button--flex">Track Record <i
                        class='bx bx-right-arrow-alt button__icon'></i></a>
                  </div>
                </div>
              </div>
            </section>

            <!-- HOME SLIDER 3 -->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img src="assets/img/home3-img.png" alt="" class="home__img">
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Captain Sem</h4>
                    <span class="home__details-subtitle">Veteran Spooky Ghost</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">#3 Top Scariest Ghost</h3>
                  <h1 class="home__title">RESPAWN <br> THE SPOOKY <br> SKULL</h1>
                  <p class="home__description">In search for cute little puppy, Captain Sem has come back
                    from his tragic death.
                    With his hogwarts certified power he promise to be a hero for all of ghostkind.
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Book Now</a>
                    <a href="#" class="button--link button--flex">Track Record <i
                        class='bx bx-right-arrow-alt button__icon'></i></a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="section about" id="about">
        <h2 class="section__title">About me</h2>
        <div class="about__container container grid">
          <img src="{{site.url}}{{site.baseurl}}/assets/img/about_Me.png" alt="Alain Herve" class="about__img">
          <div class="about__data">
            <h2 class="section__title about__title">@alainQtec</h2>
            <p class="about__description">
              Passionate 👨‍💻.Helping you get more done, using quick tech solutions.
              <br>
              When I'm not coding I like sketching and getting inspiration from "online Art Communities".
              <br>
              I also enjoy automating my workflow with <a
                href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> and <a
                href="https://en.wikipedia.org/wiki/PowerShell">PowerShell</a>.<br>I mean Why not make your
              computer do the grunt work!
            </p>
            <div class="about__info">
              <div>
                <span class="about__info-title">2+</span>
                <span class="about__info-name">Years <br> experience</span>
              </div>
              <div>
                <span class="about__info-title">20+</span>
                <span class="about__info-name">Completed <br> Projects</span>
              </div>
              <div>
                <span class="about__info-title">1</span>
                <span class="about__info-name">Company <br> Worked</span>
              </div>
              <div class="about__buttons button--flex">
                <a download="" href="{{site.url}}{{site.baseurl}}/assets/pdf/Alain_Herve_Resume_Preview.pdf"
                  class="button_Dl_CV button--fex">CV<i class="uil uil-download-alt button__icon"></i>
                </a>
              </div>
            </div>
          </div>
          <br id="blog">
        </div>
      </section>
      <section class="section Recent_Posts" id="recent-articles">
        <div class="recent_posts_H" id="recent-articles-header">
          <div id="recent-articles-title">
            <span>
              <h1 class="section__title .jumbotron-heading">Recent Posts</h1>
            </span>
          </div>
          <div id="recent-articles-show-all">
            <a class="btn btn-lg btn-dark" href="{{ site.url}}{{site.blogurl}}"><span>Show All</span></a>
          </div>
        </div>
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            {% for post in site.posts limit:5 %}
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="thumbnail">
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code"><time datetime="{{ post.date }}" itemprop="datePublished">{{
                    post.date | date: "%b %-d, %Y" }}</time></span>
                <div class="blog-slider__title">{{post.title}}</div>
                <div class="blog-slider__text">{{post.summary}}</div>
                <a href="{{post.url}}" class="blog-slider__button">READ MORE</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="blog-slider__pagination"></div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
        <script src="{{site.url}}{{site.baseurl}}/assets/js/blog-slider.js"></script>
      </section>
      <section class="section category">
        <h2 class="section__title">Favorite Scare <br> Category</h2>

        <div class="category__container container grid">
          <div class="category__data">
            <img src="assets/img/category1-img.png" alt="" class="category__img">
            <h3 class="category__title">Ghosts</h3>
            <p class="category__description">Choose the ghosts, the scariest there are.</p>
          </div>

          <div class="category__data">
            <img src="assets/img/category2-img.png" alt="" class="category__img">
            <h3 class="category__title">Pumpkins</h3>
            <p class="category__description">You look at the scariest pumpkins there is.</p>
          </div>

          <div class="category__data">
            <img src="assets/img/category3-img.png" alt="" class="category__img">
            <h3 class="category__title">Witch Hat</h3>
            <p class="category__description">Pick the most stylish witch hats out there.</p>
          </div>
        </div>
      </section>
      <section class="section projects" id="project">
        <h2 class="section__title">Projects</h2>
        <span class="section__subtitle">My most recent work</span>

        <div class="project__container container grid">
          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work1.jpg" alt="projEct1">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Elit</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work2.jpg" alt="project2">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Amit</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work3.jpg" alt="proj3ct3">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Consectetir</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work4.jpg" alt="project4">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Dolir</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work5.jpg" alt="proj3ct5">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Lorim</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work6.jpg" alt="proj3ct6">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Ipsim</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>
        </div>
      </section>
      <section class="section prior-p">
        <span class="section__subtitle">Looking to collaborate on:</span>
        <div class="prior-p__container container grid">
          <img src="assets/img/project.png" alt="" class="prior-p__img">
          <div class="prior-p__data">
            <h2 class="prior-p__title">$Project_name <br> github.com/$Project_name</h2>
            <a href="#" class="button">Go to repo</a>
          </div>
        </div>
      </section>
      <section class="section testimonials" id="testimonials">
        <h2 class="section__title">Testimonials</h2>
        <span class="section__subtitle">What They’re Saying</span>
        <div class="testimonials container">
          <div class="swiper testimonials-swiper">
            <div class="swiper-wrapper">
              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">Pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template2.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Joe</h3>
                <span class="work__title">Team</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">Jr.</div>
                <img src="{{site.url}}{{site.baseurl}}/assets//img/testimonial0.jpg" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Ena</h3>
                <span class="work__title">Ux Deigner</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">Pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template4.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Luiz.</h3>
                <span class="work__title">Database Admin</span>

                <div class="impression_msg">
                  <span class="testimonial__description">I got a good impression, out my project with all thepossible
                    quality and support 24 hours a Lorem ipsum dolor.</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">New</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial2.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Dave</h3>
                <span class="work__title">Brogrammer</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial1.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Achelle</h3>
                <span class="work__title">CEO</span>

                <div class="impression_msg">
                  <span class="testimonial__description">I got a good impression, out my project with all thepossible
                    quality and support 24 hours a Lorem ipsum dolor. distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template3.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Charlotte</h3>
                <span class="work__title">Marketing derector</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section newsletter">
        <div class="newsletter__container container">
          <h2 class="section__title">Newsletter</h2>
          <p class="newsletter__description">
            Promotion new products and posts. Directly to your inbox
          </p>

          <form action="" class="newsletter__form">
            <input type="text" placeholder="Enter your email" class="newsletter__input">
            <button class="button">
              Subscribe
            </button>
          </form>
        </div>
      </section>
      <section class="section contact" id="contact">
        <h2 class="section__title">Contact</h2>
        <span class="section__subtitle">Get in touch</span>
        <div class="contact__container hlayout__containr hp_grid">
          <div>
            <div class="contact__information">
              <i class="uil uil-phone contact__icon"></i>

              <div>
                <h3 class="contact__title">Call Me</h3>
                <span class="contact__subtitle">
                  <a href="#contact" class="contact__link">
                    +250-784-703-243
                  </a>
                </span>
              </div>
            </div>

            <div class="contact__information">
              <i class="uil uil-envelope contact__icon"></i>

              <div>
                <h3 class="contact__title">Email</h3>
                <span class="contact__subtitle">
                  <a href="https://mailto:alain.1337dev@outlook.com" class="contact__link" target="_blank">
                    alain.1337dev@outlook.com
                  </a>
                </span>
              </div>
            </div>

            <div class="contact__information">
              <i class="uil uil-whatsapp contact__icon"></i>
              <div>
                <h3 class="contact__title">Whatsapp</h3>
                <span class="contact__subtitle">
                  <a href="https://wa.me/250784703243" class="contact__link" target="_blank">
                    +250-784-703-243
                  </a>
                </span>
              </div>
            </div>
          </div>

          <form action="" class="contact__form hp_grid">
            <div class="contact__inputs hp_grid">
              <div class="contact__content">
                <label for="" class="contact__label">Name</label>
                <input type="text" class="contact__input">
              </div>

              <div class="contact__content">
                <label for="" class="contact__label">Email</label>
                <input type="email" class="contact__input">
              </div>
            </div>
            <div class="contact__content">
              <label for="" class="contact__label">Project</label>
              <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
              <label for="" class="contact__label">Message</label>
              <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
            </div>
            <div>
              <a href="#" class="button_send_msg button--fex">
                Send Message
                <i class="uil uil-message button__icon"></i>
              </a>
            </div>
          </form>
        </div>
      </section>
    </article>
  </main>
  {%- include footer.html -%}
  <!--=============== SCROLL UP ===============-->
  <a href="#" class="scrollup" id="scroll-up">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
  </a>
  <!--=============== SCROLL REVEAL ===============-->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/scrollreveal.min.js"></script>
  <!--=============== SWIPER JS ===============-->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/swiper-bundle.min.js"></script>

  <!--=============== MAIN JS ===============-->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/main.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/content-scale.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>
  <!-- wakatime coding activity -->
  <script>
    $.ajax({
      type: 'GET',
      url: 'https://wakatime.com/share/@alainQtec/bb86877d-45e7-45ee-8656-3f139c1cda47.json',
      dataType: 'jsonp',
      success: function (response) {
        console.log(response.data);
      },
    });
  </script>
</body>

</html>