---
extra_scss: ""
---

{% capture home_style %}
{% include scss/critical/icons.scss %}
{% include scss/critical/home.scss %}
{% if page.extra_scss %}{{ page.extra_scss }}{% endif %}
{% endcapture %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}

<body>
  <main class="main" id="scroll-animate">
    <header>
      <nav class="home___nav" id="home__navbar">
        <a class="blognavbrand" id="blognavbrand"
          href="https://alainqtec.com"><span><span>alain</span><span>Q</span><span>tec</span></span></a>
        <div class="home__navbar__menu" id="h-navbar-menu">
          <ul class="home__nav__list menu">
            <li class="home__nav__item">
              <a href="#home" class="home__nav__link active-link">
                <i class="icon ic-home homep__nav__icon"></i> <strong>Home</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#about" class="home__nav__link">
                <i class="icon ic-user homep__nav__icon"></i> <strong>About</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#blog" class="home__nav__link">
                <i class="uil uil-document-layout-left homep__nav__icon"></i> <strong>Blog</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#skills" class="home__nav__link">
                <i class="icon ic-bar-chart-square homep__nav__icon"></i> <strong>Skills</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#services" class="home__nav__link">
                <i class="icon ic-briefcase homep__nav__icon"></i> <strong>Services</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#projects" class="home__nav__link">
                <i class="uil uil-scenery homep__nav__icon"></i> <strong>Projects</strong>
              </a>
            </li>
            <li class="home__nav__item">
              <a href="#contact" class="home__nav__link">
                <i class="uil uil-message homep__nav__icon"></i> <strong>Contact</strong>
              </a>
            </li>
            <li class="home__nav__item modeSwitcher_btn">
              <div class="modeswitch_wrapper">
                <input class="nav-link switch" id="theme-toggle" onclick="modeSwitcher()" type="checkbox"
                  name="checkbox" />
              </div>
            </li>
            <li class="home__nav__item nav__closeli">
              <button class="nav__close" id="nav-close" style="z-index: 9990;" aria-label="Close">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                  </path>
                </svg>
              </button>
            </li>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class='icon ic-grid-alt'></i>
        </div>
      </nav>
    </header>
    <article class="homepage_content_card" itemscope itemtype="http://schema.org/BlogPosting">
      <section class="section home container" id="home">
        <div class="swiper home-swiper">
          <div class="swiper-wrapper">
            <!-- HOME SLIDER 1 -->
            <section class="swiper-slide">
              <div class="home__content-0 grid">
                <div class="home__social">
                  <a href="https://www.linkedin.com/in/alain-herve-9400bb201/" target="_blank"
                    class="homepage__social-icon">
                    <i class="uil uil-linkedin-alt"></i>
                  </a>

                  <a href="https://dribbble.com/alainherve" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-dribbble"></i>
                  </a>

                  <a href="https://github.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-github-alt"></i>
                  </a>

                  <a href="https://twitter.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-twitter-alt"></i>
                  </a>

                  <a href="https://www.instagram.com/alainQtec" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-instagram"></i>
                  </a>

                  <a href="https://alainqtec.slack.com/" target="_blank" class="homepage__social-icon">
                    <i class="uil uil-slack-alt"></i>
                  </a>
                </div>
                <div class="homepage__img">
                  <svg class="homepage__blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <mask id="mask0" mask-type="alpha">
                      <path class="homepage_blob_path" d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
                                                  130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
                                                  97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
                                                  0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                    </mask>
                    <g mask="url(#mask0)">
                      <path
                        d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
                                                  165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
                                                  129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
                                                  -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z" />
                      <image class="homepage__blob__dp"
                        xlink:href="{{site.url}}{{site.baseurl}}/assets/img/profile.png" />
                    </g>
                  </svg>
                </div>
                <div class="homepage___data">
                  <h1 class="homepage__title name-anime">
                    <span>H</span><span>i,</span> <span>I</span><span>'</span><span>m</span>
                    <span class="alain">
                      <span>A</span><span>l</span><span>a</span><span>i</span><span>n</span>
                    </span>
                  </h1>
                  <h3 class="homepage__subtitle" id="Ocuppation">Frontend developer</h3>
                  <p class="homepage__descr">
                    Tech enthusiast, experienced in web design and development.
                    <br>
                  <div id="reg_ai">
                  </div>
                  <br>
                  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
                  <script src="{{site.url}}{{site.baseurl}}/assets/js/intro_typing.js"></script>
                  </p>
                  <a href="#contact" class="button_contactme" rel="noopener">Contact Me <i
                      class="uil uil-message button__icon"></i></a>
                </div>
              </div>
            </section>
            <!-- HOME SLIDER 2 -->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img src="assets/img/acc_dvart_prev.png" alt="alias1_image" class="home__img">
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title"><a href="https://www.deviantart.com/stylemypc">Alain</a></h4>
                    <span class="home__details-subtitle">On Deviantart</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">Alias #2</h3>
                  <h1 class="home__title">deviantart.com/stylemypc</h1>
                  <p class="home__description">
                    Deviantart is a online platform where artists and fans can post, collect, share and monetise their
                    artworks.
                    <br>
                    I've been a huge fan of artwork since Kindergarten so I feel home there !
                  </p>

                  <div class="home__buttons">
                    <a href="#" class="button">Follow</a>
                    <a href="https://www.deviantart.com/stylemypc" class="button--link button--flex">Visit gallery <i
                        class='bx bx-right-arrow-alt button__icon'></i></a>
                  </div>
                </div>
              </div>
            </section>

            <!-- HOME SLIDER 3 -->
            <section class="swiper-slide">
              <div class="home__content grid">
                <div class="home__group">
                  <img src="assets/img/acc_prev.png" alt="alias2_image" class="home__img">
                  <div class="home__indicator"></div>

                  <div class="home__details-img">
                    <h4 class="home__details-title">Alain</h4>
                    <span class="home__details-subtitle">On $platformName</span>
                  </div>
                </div>

                <div class="home__data">
                  <h3 class="home__subtitle">Alias #3</h3>
                  <h1 class="home__title">url:platformName/profile</h1>
                  <p class="home__description">
                    $platformName is a $platformDescr.
                    <br>
                    Why I spend much time at $platformName
                  </p>
                  <div class="home__buttons">
                    <a href="#" class="button">Follow</a>
                    <a href="#" class="button--link button--flex">Visit Profile<i
                        class='bx bx-right-arrow-alt button__icon'></i></a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
      <section class="section about" id="about">
        <h2 class="section__title">About me</h2>
        <div class="about__container container grid">
          <img src="{{site.url}}{{site.baseurl}}/assets/img/about_Me.png" alt="Alain Herve" class="about__img">
          <div class="about__data">
            <h2 class="home_about_mainalias">Alain Herve</h2>
            <p class="about__description">
              A Passionate {% if page.summary %}{{ page.summary }}{% else %}geek 👨‍💻.{% endif %}
              <br>
              <br>
              I also enjoy automating my workflow with <a
                href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> and <a
                href="https://en.wikipedia.org/wiki/PowerShell">PowerShell</a>.<br>I mean Why not make your computer do
              the grunt work!
              <br>
              <br>
              When I'm not coding I like sketching and getting inspiration from "online Art Communities".
            </p>
            <div class="about__info" id="about__info">
              <div>
                <span class="about__info-title">2+</span>
                <span class="about__info-name">Years <br> experience</span>
              </div>
              <div>
                <span class="about__info-title">20+</span>
                <span class="about__info-name">Completed <br> Projects</span>
              </div>
              <div>
                <span class="about__info-title">1</span>
                <span class="about__info-name">Company <br> Worked</span>
              </div>
              <div>
                <label for="3" class="modal-trigger button_Dl_CV button--fex" id="four">CV<i class="uil uil-download-alt button__icon"></i></label>
              </div>
            </div>
            <div class="pop" id="modal-container">
              <input type="checkbox" id="3" />
              <div class="modal cv-modal modal-background" id="cv-modal" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                      <label class="btn-close" for="3" data-dismiss="cv-modal" aria-label="Close">✕</label>
                      <h1 class="modal-title"><a href="https://www.bing.com/search?q=GDPR&cvid=3af830e558284531b4bd0f6cb9eb9c7e&aqs=edge..69i57j69i59j69i60.2251j0j1&pglt=163&FORM=ANNTA1&PC=U531#:~:text=Data%20Protection%20Regulation-,The%20General%20Data%20Protection%20Regulation%20(EU)%202016/679%20(GDPR)%20is%20a%20regulation%20in%20EU%20law%20on%20data%20protection%20and%20privacy%20in%20the%20European%20Union%20(EU)%20and%20the%20European%20Economic%20Area%20(EEA).%20It%20also%20addresses%20the%20transfer%20of%20personal%20data%20outside%20the%20EU%20and%20EEA%20areas.,-The%20GDPR%27s%20primary" target="_blank" rel="noopener noreferrer"><abbr title="General Data Protection Regulation">GDPR</abbr></a></h1>
                    </div>
                    <div class="modal-body privacy_agrmnt">
                      <h2 style="margin: 1em 0;">1. PRIVACY aggrement</h2>
                      <br>
                      <p>
                        By clicking <strong>download</strong> you agree to only use the data in
                        this <abbr title="curriculum vitae">CV</abbr> copy for the sole purpose
                        of consideration of my skills and experience for professional opportunities.
                      </p>
                      <br>
                      <h2 style="margin: 1em 0;">2. DATA PROTECTION PRINCIPLES</h2>
                      <br>
                      <p>
                        You agree to comply with data protection law and principles, which means that this <abbr
                          title="curriculum vitae">CV</abbr> will be:
                        <br>
                        • Collected only for valid purposes that we have clearly explained to you and not used in any way
                        that is incompatible with those purposes.
                        <br>
                        • Used lawfully, fairly and in a transparent way.
                        <br>
                        • Relevant to the purposes we have told you about and limited only to those purposes.
                        <br>
                        • Kept only as long as necessary for the purposes we have told you.
                        <br>
                        • Kept securely.
                      </p>
                        <input type="hidden" name="txt1" id="textbox1">
                        <button type="button" class="close_model btn btn-danger">[chekbox]: I Dissagree</button>
                        <input type="checkbox" name="ch" class="one" value="1">
                        <input type="checkbox" name="ch" class="one" value="2">
                        <input type="checkbox" name="ch" class="one" value="3">
                        <input type="checkbox" name="ch" class="one" value="4">
                      <br>
                      <div class="alain-gdprconsent">
                        <h2 style="margin: 1em 0;">3. Consent</h2>
                        <br>
                        <p>
                          I hereby consent to the processing of the personal data in this <abbr title="curriculum vitae">CV</abbr>
                          by anyone who receives a copy for the sole purpose of consideration of my skills and experience
                          for professional opportunities.
                        </p>
                        <br>
                      </div>
                      <br>
                    </div>
                    <div class="modal-footer">
                      <span><small>Note that your data will be collected</small></span>
                      <br>
                      <a class="button_Dl_CV button--fex close_model" download="" href="{{site.url}}{{site.baseurl}}/assets/pdf/Alain_Herve_Resume_Preview.pdf">Download<i class="uil uil-download-alt button__icon"></i></a>
                    </div>
                </div>
              </div>
            </div>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
            <!-- <script>
              $('.modal-trigger').click(function(){
                var buttonId = $(this).attr('id');
                $('#modal-container').removeAttr('class').addClass(buttonId);
                $('body').addClass('modal-active');
              })
              
              $('#modal-container').click(function(){
                $(this).addClass('out');
                $('body').removeClass('modal-active');
              });
            </script> -->
          </div>
        </div>
        <br id="blog">
      </section>
      <section class="section Recent_Posts" id="recent-articles">
        <div id="recent-articles-header">
          <a class="section__title jumbotron-heading" id="recent-articles-title"
            href="{{ site.url}}{{site.blogurl}}">Recent Posts</a>
          <a class="recent-articles-show-all" href="{{ site.url}}{{site.blogurl}}" target="_blank"
            rel="noopener noreferrer">Show All</a>
        </div>
        <div class="blog-slider">
          <div class="blog-slider__wrp swiper-wrapper">
            {% for post in site.posts limit:5 %}
            <div class="blog-slider__item swiper-slide">
              <div class="blog-slider__img">
                <img src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="thumbnail">
              </div>
              <div class="blog-slider__content">
                <span class="blog-slider__code"><time datetime="{{ post.date }}" itemprop="datePublished">{{
                    post.date | date: "%b %-d, %Y" }}</time></span>
                <div class="blog-slider__title">{{post.title}}</div>
                <div class="blog-slider__text">{{post.summary}}</div>
                <a href="{{post.url}}" class="blog-slider__button">READ MORE</a>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="blog-slider__pagination"></div>
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
        <script src="{{site.url}}{{site.baseurl}}/assets/js/blog-slider.js"></script>
      </section>
      <section class="section category" id="services">
        <h2 class="section__title">Services</h2>
        <span class="section__subtitle">What I offer</span>

        <div class="services__containerr container grid">
          <div class="service__data">
            <img src="assets/img/svg/ux-designer.svg" alt="designer" class="service__img">
            <h3 class="services__title">UI/UX <br> Designer</h3>
            <div class="service_show-more" id="showservice0001" onclick="hidediv('showservice0001')">
              <a href="#ShowserviceOne" class="servicesModal__btn button--flex" id="modal-closed_service_1">
                Show more
                <i class="uil uil-arrow-right button__icon"></i>
              </a>
            </div>
            <div class="service__modal__container" id="ShowserviceOne">
              <div class="services__modal">
                <div class="services__modal-content">
                  <ul class="services__modal-services hp_grid">
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I conduct user research and testing.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I illustrate design ideas and develop the User
                        Interface using wireframes.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I create UX element Interactions.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I designing graphic user interface elements, like
                        menus, tabs and widgets.</p>
                    </li>
                  </ul>
                </div>
                <br>
                <div class="service_Demo__btn">
                  Demos <i class="uil uil-arrow-right button__icon"></i>
                </div>
                <a href="#services" class="uil uil-times service__modal__close"
                  onclick="showdiv('showservice0001')"></a>
              </div>
            </div>
          </div>

          <div class="service__data">
            <img src="assets/img/web-dev.png" alt="front-end" class="service__img">
            <h3 class="services__title">Frontend <br> Developer</h3>
            <div class="service_show-more" id="showservice0002" onclick="hidediv('showservice0002')">
              <a href="#ShowserviceTwo" class="servicesModal__btn button--flex" id="modal-closed_service_2">
                Show more
                <i class="uil uil-arrow-right button__icon"></i>
              </a>
            </div>
            <div class="service__modal__container" id="ShowserviceTwo">
              <div class="services__modal">
                <div class="services__modal-content">
                  <ul class="services__modal-services hp_grid">
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I determine the structure and design of web
                        pages.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I develop Web pages using various markup
                        languages.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I optimize web pages for efficiency and "S.E
                        rank".</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I maintain company brand consistency across all
                        web pages.</p>
                    </li>
                  </ul>
                </div>
                <br>
                <div class="service_Demo__btn">
                  Demos <i class="uil uil-arrow-right button__icon"></i>
                </div>

                <a href="#services" class="uil uil-times service__modal__close"
                  onclick="showdiv('showservice0002')"></a>
              </div>
            </div>
          </div>

          <div class="service__data">
            <img src="assets/img/contoso.png" alt="brand design" class="service__img">
            <h3 class="services__title">Branding <br> Designer</h3>
            <div class="service_show-more" id="showservice0003" onclick="hidediv('showservice0003')">
              <a href="#ShowserviceThree" class="servicesModal__btn button--flex" id="modal-closed_service_3">
                Show more
                <i class="uil uil-arrow-right button__icon"></i>
              </a>
            </div>
            <div class="service__modal__container" id="ShowserviceThree">
              <div class="services__modal">
                <div class="services__modal-content">
                  <ul class="services__modal-services hp_grid">
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I develop the product brand identity.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I create and design product logos.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I create / assemble images and graphic to produce
                        quality designs for websites.</p>
                    </li>
                    <li class="services__modal-service">
                      <i class="uil uil-check-circle services__modal-icon"></i>
                      <p class="services__modal-txt">I review designs for any kind of errors before
                        publishing.</p>
                    </li>
                  </ul>
                </div>
                <br>
                <div class="service_Demo__btn">
                  Demos <i class="uil uil-arrow-right button__icon"></i>
                </div>

                <a href="#services" class="uil uil-times service__modal__close"
                  onclick="showdiv('showservice0003')"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section class="section stats">
        <h2 class="section__title">Stats</h2>
        <span class="section__subtitle">My Latest Github Streak</span>
        <table cellpadding="0" cellspacing="0" style="border:0px solid transparent; padding: 0; font-size: .7rem;">
          <thead>
            <tr>
              <td>
            <a href="https://github.com/anuraghazra/github-readme-stats">
              <img style="align=center" src="https://github-readme-stats.vercel.app/api?username=alainQtec" alt="Alain's GitHub stats" width="450" />
            </a>
            </td>
              <td>
            <a href="https://github.com/anuraghazra/github-readme-stats">
              <img style="align=center" src="https://github-readme-streak-stats.herokuapp.com/?user=alainQtec&" alt="Alain's GitHub streak" width="450" />
            </a>
            </td>
            </tr>
          </thead>
          </table>
      </section> -->
      <section class="section projects" id="project">
        <h2 class="section__title">Projects</h2>
        <span class="section__subtitle">My most recent work</span>

        <div class="project__container container grid">
          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work1.jpg" alt="projEct1">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Elit</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work2.jpg" alt="project2">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Amit</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work3.jpg" alt="proj3ct3">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Consectetir</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work4.jpg" alt="project4">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Dolir</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work5.jpg" alt="proj3ct5">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Lorim</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>

          <div class="project__content">
            <div class="project__img">
              <img src="assets/img/work6.jpg" alt="proj3ct6">

              <div class="project__link">
                <a href="https://github.com/alainQtec/repo_Name" class="project__details-link" target="_blank"><i
                    class="uil uil-github-alt"></i> View details</a>
              </div>
            </div>
            <h3 class="project__name">Ipsim</h3>
            <span class="project__summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
          </div>
        </div>
        <div class="prior-p">
          <span class="section__subtitle">Looking to collaborate on:</span>
          <div class="prior-p__container container grid">
            <img src="assets/img/project.png" alt="" class="prior-p__img">
            <div class="prior-p__data">
              <h2 class="prior-p__title">$Project_name <br> github.com/$Project_name</h2>
              <a href="#" class="button">Go to repo</a>
            </div>
          </div>
        </div>
      </section>
      <section class="section testimonials" id="testimonials">
        <h2 class="section__title">Testimonials</h2>
        <span class="section__subtitle">What They’re Saying</span>
        <div class="testimonials container">
          <div class="swiper testimonials-swiper">
            <div class="swiper-wrapper">
              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">Pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template2.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Joe</h3>
                <span class="work__title">H.R @ contoso ltd</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">Jr.</div>
                <img src="{{site.url}}{{site.baseurl}}/assets//img/testimonial0.jpg" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Ena</h3>
                <span class="work__title">Ux Deigner @ contoso plc</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">Pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template4.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Luiz.</h3>
                <span class="work__title">Database Admin @ contoso plc</span>

                <div class="impression_msg">
                  <span class="testimonial__description">I got a good impression, out my project with all thepossible
                    quality and support 24 hours a Lorem ipsum dolor.</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">New</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial2.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Dave</h3>
                <span class="work__title">Brogrammer</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial1.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Achelle</h3>
                <span class="work__title">CEO @ contoso ltd</span>

                <div class="impression_msg">
                  <span class="testimonial__description">I got a good impression, out my project with all thepossible
                    quality and support 24 hours a Lorem ipsum dolor. distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>

              <div class="testimonial__data swiper-slide">
                <div class="exp__tag">pro</div>
                <img src="{{site.url}}{{site.baseurl}}/assets/img/testimonial_template3.png" alt="testimonial"
                  class="testimonial__img">
                <h3 class="testimonial__name">Charlotte</h3>
                <span class="work__title">Marketing derector</span>

                <div class="impression_msg">
                  <span class="testimonial__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Accusamus doloremque dolorem optio rerum officiis asperiores distinctio explicabo!</span>
                </div>

                <button class="button contact__button">
                  <i class='bx bxs-user-circle user__icon'></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section newsletter">
        <div class="newsletter__container container">
          <h2 class="section__title">Newsletter</h2>
          <p class="newsletter__description">
            Promotion new products and posts. Directly to your inbox
          </p>

          <form action="" class="newsletter__form">
            <input type="text" placeholder="Enter your email" class="newsletter__input">
            <button class="button">
              Subscribe
            </button>
          </form>
        </div>
      </section>
      <section class="section contact" id="contact">
        <h2 class="section__title">Contact</h2>
        <span class="section__subtitle">Get in touch</span>
        <div class="contact__container hlayout__containr hp_grid">
          <div>
            <div class="contact__information">
              <i class="uil uil-phone contact__icon"></i>

              <div>
                <h3 class="contact__title">Call Me</h3>
                <span class="contact__subtitle">
                  <a href="#contact" class="contact__link">
                    +250-784-703-243
                  </a>
                </span>
              </div>
            </div>

            <div class="contact__information">
              <i class="uil uil-envelope contact__icon"></i>

              <div>
                <h3 class="contact__title">Email</h3>
                <span class="contact__subtitle">
                  <a href="https://mailto:alain.1337dev@outlook.com" class="contact__link" target="_blank">
                    alain.1337dev@outlook.com
                  </a>
                </span>
              </div>
            </div>

            <div class="contact__information">
              <i class="uil uil-whatsapp contact__icon"></i>
              <div>
                <h3 class="contact__title">Whatsapp</h3>
                <span class="contact__subtitle">
                  <a href="https://wa.me/250784703243" class="contact__link" target="_blank">
                    +250-784-703-243
                  </a>
                </span>
              </div>
            </div>
          </div>

          <form action="" class="contact__form hp_grid">
            <div class="contact__inputs hp_grid">
              <div class="contact__content">
                <label for="" class="contact__label">Name</label>
                <input type="text" class="contact__input">
              </div>

              <div class="contact__content">
                <label for="" class="contact__label">Email</label>
                <input type="email" class="contact__input">
              </div>
            </div>
            <div class="contact__content">
              <label for="" class="contact__label">Project</label>
              <input type="text" class="contact__input">
            </div>
            <div class="contact__content">
              <label for="" class="contact__label">Message</label>
              <textarea name="" id="" cols="0" rows="7" class="contact__input"></textarea>
            </div>
            <div>
              <a href="#" class="button_send_msg button--fex">
                Send Message
                <i class="uil uil-message button__icon"></i>
              </a>
            </div>
          </form>
        </div>
      </section>
    </article>
  </main>
  {%- include footer.html -%}
  <!--=============== SCROLL UP ===============-->
  <a href="#" class="scrollup" id="scroll-up">
    <i class='bx bx-up-arrow-alt scrollup__icon'></i>
  </a>
  <!--=============== SCROLL REVEAL ===============-->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/scrollreveal.min.js"></script>
  <!--=============== SWIPER JS ===============-->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/swiper-bundle.min.js"></script>


  <!--=============== JS ===============-->
  <script src="{{site.url}}{{site.baseurl}}/assets/js/main.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/content-scale.js"></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>

  <!-- <script src="{{site.url}}{{site.baseurl}}/assets/js/jquery.scrollaway.js"></script> -->
  <!-- <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script> -->
  <!-- wakatime coding activity -->
  <script>
    $.ajax({
      type: 'GET',
      url: 'https://wakatime.com/share/@alainQtec/bb86877d-45e7-45ee-8656-3f139c1cda47.json',
      dataType: 'jsonp',
      success: function (response) {
        console.log(response.data);
      },
    });
  </script>
</body>

</html>