@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
// @import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");
// @import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:200");

@font-face {
  font-family: Roboto;
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.woff2") format("woff2"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.woff") format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/565097/Roboto-Regular.ttf") format("ttf");
  font-weight: 300;
  font-style: var(--font-medium);
}

@font-face {
  font-family: DesignerBlock;
  src: url(/assets/css/fonts/DesignerBlock.ttf);
}

@font-face {
  font-family: zorque;
  src: url(/assets/css/fonts/zorque.ttf);
}